openapi: 3.2.0
info:
  title: Documentation Affiliate Other API
  version: '3.2'
  x-logo:
    altText: Affise API documentation.
    url: affise_logo.svg
    backgroundColor: '#fafafa'
  description: 'API 3.1 documentation.


    Authorization


    ```shell

    curl --header "API-Key:23df424b0a53b0899f78685966243ee61" http://YOUR_API_DOMAIN/

    or

    curl http://YOUR_API_DOMAIN/some_path?API-Key=23df424b0a53b0899f78685966243ee61

    ```



    For data exchange using authentication public key passed as parameter in the header API-Key. As the key, a hash generated for your site. API key, you can see in your profile.


    Find out more about where you can get your API URL, API-key and personal API-key for Affiliate here - [Getting Started with API](https://help-center.affise.com/en/articles/6463675-start-with-api-networks)


    Postman collection


    A ready-to-use Postman collection covering all endpoints of this documentation is available in the [affise-postman-api-collection](https://github.com/affise/affise-postman-api-collection) repository. Import the collection together with the Demo environment, set your `baseUrl` and API keys in the environment variables, and you are ready to send requests.


    <aside class="warning">

    All API requests must include an API-Key header or API-Key GET parameter for client authentication.

    </aside>

    '
servers:
- url: https://api-demo.affise.com
  description: Demo Server
  variables:
    api-key:
      default: 685168e94e6a96fa7c31895e
      description: Demo Test API Key
tags:
- name: affiliate-other
  x-displayName: Other
  description: Affiliate balance, product feeds
paths:
  /3.0/balance:
    get:
      tags:
      - affiliate-other
      summary: Affiliate balance
      description: '`GET /3.0/balance`


        Get current affiliate balance

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        example: 23df424b0a53b0899f78685966243ee61
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  balance:
                    type: object
                    properties:
                      balance:
                        type: object
                        additionalProperties:
                          type: number
                      hold:
                        type: object
                        additionalProperties:
                          type: number
                      available:
                        type: object
                        additionalProperties:
                          type: number
              example:
                status: 1
                balance:
                  balance:
                    USD: 0
                    EUR: 0
                    RUB: 16968
                  hold:
                    USD: 0
                    EUR: 0
                    RUB: 1234
                  available:
                    USD: 0
                    EUR: 0
                    RUB: 15734
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/balance' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.1/product-feed/{product_feed_id}/items:
    get:
      tags:
      - affiliate-other
      summary: Product feed items
      description: '`GET /3.1/product-feed/{product_feed_id}/items`


        Get product feed items

        '
      parameters:
      - name: API-Key
        in: header
        description: API key
        required: true
        schema:
          type: string
      - name: product_feed_id
        in: path
        description: Product Feed ID
        required: true
        schema:
          type: string
      - name: affiliate_id
        in: query
        description: Affiliate ID
        required: true
        schema:
          type: integer
      - name: offer_id
        in: query
        description: Offer ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        affise_url:
                          type: string
                        availability:
                          type: string
                        brand:
                          type: string
                        brand_sku:
                          type: string
                        category:
                          type: string
                        client_id:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        id:
                          type: string
                        image_url:
                          type: string
                        name:
                          type: string
                        price:
                          type: string
                        product_feed_id:
                          type: string
                        sku:
                          type: string
                        subcategory:
                          type: string
                        url:
                          type: string
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_count:
                        type: integer
              example:
                data:
                - affise_url: tracking_link
                  availability: ''
                  brand: ''
                  brand_sku: ''
                  category: ''
                  client_id: 5832
                  currency: ''
                  description: description
                  id: 68618d12a03b6a183ffd8638
                  image_url: image_url
                  name: name
                  price: ''
                  product_feed_id: 685a595fcde5729d988585cc
                  sku: '8793994'
                  subcategory: ''
                  url: original_url
                pagination:
                  page: 1
                  per_page: 100
                  total_count: 10
                status: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.1/product-feed/{product_feed_id}/items?affiliate_id=<affiliate_id>&offer_id=<offer_id>' \\\n  --header 'API-Key: <API-Key>'"
components:
  responses:
    Forbidden:
      description: Forbidden - Access denied, insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 2
              message:
                type: string
                example: Auth Denied
    Unauthorized:
      description: Unauthorized - API key is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 2
              message:
                type: string
                example: Token is necessary
    InternalServerError:
      description: Internal Server Error - Server error, please contact administrator
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 2
              message:
                type: string
                example: Server error, Please contact your administrator
x-tagGroups:
- name: Admin API
  tags:
  - admin-advertisers
  - admin-affiliates
  - admin-offers
  - admin-stats
  - admin-conversions
  - admin-users
  - admin-presets
  - admin-payments
  - admin-billing
  - admin-smartlinks
  - admin-tickets
  - admin-automation
  - admin-adcosts
  - admin-other
- name: Advertiser API
  tags:
  - advertiser-auth
  - advertiser-offers
  - advertiser-stats
- name: Affiliate API
  tags:
  - affiliate-profile
  - affiliate-offers
  - affiliate-stats
  - affiliate-postbacks
  - affiliate-conversions
  - affiliate-pixels
  - affiliate-smartlinks
  - affiliate-news
  - affiliate-other
- name: Resources
  tags:
  - resources
