openapi: 3.2.0
info:
  title: Documentation Advertiser Stats API
  version: '3.2'
  x-logo:
    altText: Affise API documentation.
    url: affise_logo.svg
    backgroundColor: '#fafafa'
  description: 'API 3.1 documentation.


    Authorization


    ```shell

    curl --header "API-Key:23df424b0a53b0899f78685966243ee61" http://YOUR_API_DOMAIN/

    or

    curl http://YOUR_API_DOMAIN/some_path?API-Key=23df424b0a53b0899f78685966243ee61

    ```



    For data exchange using authentication public key passed as parameter in the header API-Key. As the key, a hash generated for your site. API key, you can see in your profile.


    Find out more about where you can get your API URL, API-key and personal API-key for Affiliate here - [Getting Started with API](https://help-center.affise.com/en/articles/6463675-start-with-api-networks)


    Postman collection


    A ready-to-use Postman collection covering all endpoints of this documentation is available in the [affise-postman-api-collection](https://github.com/affise/affise-postman-api-collection) repository. Import the collection together with the Demo environment, set your `baseUrl` and API keys in the environment variables, and you are ready to send requests.


    <aside class="warning">

    All API requests must include an API-Key header or API-Key GET parameter for client authentication.

    </aside>

    '
servers:
- url: https://api-demo.affise.com
  description: Demo Server
  variables:
    api-key:
      default: 685168e94e6a96fa7c31895e
      description: Demo Test API Key
tags:
- name: advertiser-stats
  x-displayName: Statistics
  description: Statistics endpoints available to advertiser (multi-role only)
paths:
  /3.0/stats/custom:
    get:
      tags:
      - advertiser-stats
      summary: Custom statistics
      description: '`GET /3.0/stats/custom`


        Get custom statistics

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: slice[]
        in: query
        description: Custom stats slice
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - hour
            - month
            - quarter
            - year
            - day
            - offer
            - country
            - city
            - os
            - os_version
            - device
            - device_model
            - browser
            - goal
            - sub1
            - sub2
            - sub3
            - sub4
            - sub5
            - advertiser
            - affiliate
            - manager
            - smart_id
            - trafficback_reason
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers IDs
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: ONLY FOR ADMIN - Partners IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub number 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub number 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub number 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub number 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub number 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub number 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub number 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub number 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[smart_id]
        in: query
        description: Allowed only when the smart slice selected - SmartLink categories IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[nonzero]
        in: query
        description: Non-zero conversions
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: not_offer_id
        in: query
        description: ONLY FOR ADMIN — Offer IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_id
        in: query
        description: ONLY FOR ADMIN — Advertiser IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_id
        in: query
        description: ONLY FOR ADMIN — Partner (affiliate) IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_manager_id
        in: query
        description: ONLY FOR ADMIN — Advertiser manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_manager_id
        in: query
        description: ONLY FOR ADMIN — Affiliate manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_smartlink_id
        in: query
        description: ONLY FOR ADMIN — SmartLink category IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_country
        in: query
        description: 'ONLY FOR ADMIN — Country codes to exclude from results. Example: US'
        schema:
          type: array
          items:
            type: string
      - name: not_advertiser_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated advertiser tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_affiliate_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated affiliate tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_offer_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated offer tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: filter[payment_status]
        in: query
        description: Conversion payment status
        schema:
          type: string
          enum:
          - opened
          - closed
          - pending
      - name: locale
        in: query
        description: Locale for output a cities data when you use the city slice
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: conversionTypes[]
        in: query
        description: Only this conversion types will be output
        schema:
          type: array
          items:
            type: string
            enum:
            - total
            - confirmed
            - pending
            - declined
            - hold
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: orderType
        in: query
        description: Sorting order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: order[]
        in: query
        description: Sort by field
        schema:
          type: array
          items:
            type: string
            enum:
            - hour
            - month
            - quarter
            - year
            - day
            - currency
            - offer
            - country
            - city
            - os
            - os_version
            - device
            - device_model
            - browser
            - goal
            - sub1
            - sub2
            - sub3
            - sub4
            - sub5
            - confirmed_earning
            - raw
            - uniq
            - total_count
            - total_revenue
            - total_null
            - pending_count
            - pending_revenue
            - declined_count
            - declined_revenue
            - hold_count
            - hold_revenue
            - confirmed_count
            - confirmed_revenue
            - advertiser
            - affiliate
            - manager
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: fields[]
        in: query
        description: Custom stats fields
        schema:
          type: array
          items:
            type: string
            enum:
            - clicks
            - hosts
            - earnings
            - income
            - noincome
            - payouts
            - conversions
            - cr
            - affiliate_epc
            - ratio
            - epc
            - trafficback
            - ctr
            - views
            - ecpm
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          additionalProperties: true
                        traffic:
                          type: object
                          properties:
                            raw:
                              type: string
                            uniq:
                              type: string
                        actions:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              revenue:
                                type: number
                              charge:
                                type: number
                              earning:
                                type: number
                              'null':
                                type: integer
                              count:
                                type: integer
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                stats:
                - slice:
                    year: 2017
                    month: 3
                    day: 1
                  traffic:
                    raw: '1607530'
                    uniq: '1468939'
                  actions:
                    total:
                      revenue: 1252
                      charge: 1352.52
                      earning: 100.52
                      'null': 825
                      count: 1092
                    confirmed:
                      revenue: 1252
                      charge: 1352.52
                      earning: 100.52
                      'null': 728
                      count: 995
                    pending:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    declined:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    hold:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 97
                      count: 97
                pagination:
                  per_page: 100
                  total_count: 1
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/custom?slice[0]=hour&filter[date_from]=<filter[date_from]>&filter[date_to]=<filter[date_to]>&filter[currency][0]=string&filter[currency][1]=string2&filter[offer][0]=0&filter[offer][1]=1&filter[nonzero]=0&not_offer_id[0]=0&not_offer_id[1]=1&not_advertiser_id[0]=string&not_advertiser_id[1]=string2&not_affiliate_id[0]=0&not_affiliate_id[1]=1&not_advertiser_manager_id[0]=string&not_advertiser_manager_id[1]=string2&not_affiliate_manager_id[0]=string&not_affiliate_manager_id[1]=string2&not_smartlink_id[0]=string&not_smartlink_id[1]=string2&not_country[0]=string&not_country[1]=string2&filter[payment_status]=opened&locale=en&conversionTypes[0]=total&page=1&limit=100&orderType=asc&order[0]=hour&fields[0]=clicks' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/conversions:
    get:
      tags:
      - advertiser-stats
      summary: Conversions
      description: '`GET /3.0/stats/conversions`


        Get conversions

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: date_from
        in: query
        description: Date from
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Date to
        schema:
          type: string
          format: date
      - name: update_from_date
        in: query
        description: ONLY FOR ADMIN - Last update date point
        schema:
          type: string
          format: date
      - name: update_from_hour
        in: query
        description: ONLY FOR ADMIN - Last update hour point. Available only when update_from_date and update_to_date filters are used
        schema:
          type: integer
          minimum: 0
          maximum: 23
      - name: update_to_date
        in: query
        description: ONLY FOR ADMIN - End date of last update
        schema:
          type: string
          format: date
      - name: update_to_hour
        in: query
        description: ONLY FOR ADMIN - End hour of last update. Available only when update_from_date and update_to_date filters are used
        schema:
          type: integer
          minimum: 0
          maximum: 23
      - name: status[]
        in: query
        description: Status conversions. 1 = confirmed, 2 = pending, 3 = declined, 5 = hold
        schema:
          type: array
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            - 5
      - name: offer[]
        in: query
        description: Offer ID collection
        schema:
          type: array
          items:
            type: integer
      - name: advertiser[]
        in: query
        description: Advertiser ID collection
        schema:
          type: array
          items:
            type: string
      - name: country[]
        in: query
        description: Countries codes. Example US
        schema:
          type: array
          items:
            type: string
      - name: browser
        in: query
        description: Browser
        schema:
          type: string
      - name: action_id
        in: query
        description: Cbid
        schema:
          type: string
      - name: clickid
        in: query
        description: Click ID
        schema:
          type: string
      - name: os
        in: query
        description: Os
        schema:
          type: string
      - name: goal
        in: query
        description: Goal
        schema:
          type: string
      - name: goal_id
        in: query
        description: Goal ID collection
        schema:
          type: array
          items:
            type: integer
      - name: device
        in: query
        description: Device
        schema:
          type: string
          enum:
          - tablet
          - desktop
          - mobile
      - name: payouts
        in: query
        description: Payout for affiliate
        schema:
          type: number
      - name: payouts_from
        in: query
        description: Payout for affiliate must be greater than this value
        schema:
          type: number
      - name: payouts_to
        in: query
        description: Payout for affiliate must be less than this value
        schema:
          type: number
      - name: currency
        in: query
        description: ID currency
        schema:
          type: integer
      - name: hour
        in: query
        description: Hour point - Allows only for one day period
        schema:
          type: integer
          minimum: 0
          maximum: 23
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: custom_field_1
        in: query
        description: Custom field 1
        schema:
          type: string
      - name: custom_field_2
        in: query
        description: Custom field 2
        schema:
          type: string
      - name: custom_field_3
        in: query
        description: Custom field 3
        schema:
          type: string
      - name: custom_field_4
        in: query
        description: Custom field 4
        schema:
          type: string
      - name: custom_field_5
        in: query
        description: Custom field 5
        schema:
          type: string
      - name: custom_field_6
        in: query
        description: Custom field 6
        schema:
          type: string
      - name: custom_field_7
        in: query
        description: Custom field 7
        schema:
          type: string
      - name: subid1
        in: query
        description: Sub 1
        schema:
          type: string
      - name: subid2
        in: query
        description: Sub 2
        schema:
          type: string
      - name: subid3
        in: query
        description: Sub 3
        schema:
          type: string
      - name: subid4
        in: query
        description: Sub 4
        schema:
          type: string
      - name: subid5
        in: query
        description: Sub 5
        schema:
          type: string
      - name: smart_id
        in: query
        description: Smartlink Id
        schema:
          type: string
      - name: promocode
        in: query
        description: Promocode
        schema:
          type: string
      - name: imp_id
        in: query
        description: Impression Id
        schema:
          type: string
      - name: payment_status
        in: query
        description: Payment status
        schema:
          type: string
          enum:
          - opened
          - pending
          - closed
      - name: partner[]
        in: query
        description: ONLY FOR ADMIN - Affiliates
        schema:
          type: array
          items:
            type: integer
      - name: revenue
        in: query
        description: ONLY FOR ADMIN - Revenue
        schema:
          type: number
      - name: revenue_from
        in: query
        description: ONLY FOR ADMIN - Revenue must be greater than this value
        schema:
          type: number
      - name: revenue_to
        in: query
        description: ONLY FOR ADMIN - Revenue must be less than this value
        schema:
          type: number
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: raw_export
        in: query
        description: Without mapping related entities (For huge exports)
        schema:
          type: integer
          default: 0
      - name: decline_reason[]
        in: query
        description: Filter by decline reason
        schema:
          type: array
          items:
            type: string
            enum:
            - anti_fraud
            - cap_reached
            - by_manager
            - payment_not_found
            - ip_duplicate
            - by_server_postback
            - partner_banned
            - partner_disabled
            - min_click_time_not_reached
            - click_time_expire
            - by_import
            - promocode_expired
            - promocode_not_available
      - name: fraud_risk_level[]
        in: query
        description: Filter by fraud risk level
        schema:
          type: array
          items:
            type: string
            enum:
            - not_analyzed
            - low
            - medium
            - high
            - no_risk
      - name: fraud_type[]
        in: query
        description: Filter by fraud type
        schema:
          type: array
          items:
            type: string
      - name: comment
        in: query
        description: Comment
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  conversions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        action_id:
                          type: string
                        status:
                          type: string
                        currency:
                          type: string
                        goal:
                          type: string
                          nullable: true
                        country:
                          type: string
                        district:
                          type: string
                        city:
                          type: string
                        ip:
                          type: string
                        browser:
                          type: string
                        os:
                          type: string
                        device:
                          type: string
                        offer:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: integer
                            offer_id:
                              type: string
                            title:
                              type: string
                            url:
                              type: string
                        offer_id:
                          type: string
                        ios_idfa:
                          type: string
                        android_id:
                          type: string
                        sub1:
                          type: string
                        sub2:
                          type: string
                        sub3:
                          type: string
                        sub4:
                          type: string
                        sub5:
                          type: string
                        custom_field_1:
                          type: string
                        custom_field_2:
                          type: string
                        custom_field_3:
                          type: string
                        custom_field_4:
                          type: string
                        custom_field_5:
                          type: string
                        custom_field_6:
                          type: string
                        custom_field_7:
                          type: string
                        ua:
                          type: string
                        comment:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        click_time:
                          type: string
                          format: date-time
                        referrer:
                          type: string
                        payouts:
                          type: number
                        clickid:
                          type: string
                        partner:
                          type: object
                          properties:
                            id:
                              type: integer
                            email:
                              type: string
                            login:
                              type: string
                            name:
                              type: string
                        goal_value:
                          type: string
                        sum:
                          type: number
                        revenue:
                          type: number
                        earnings:
                          type: number
                        advertiser:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                        payment_status:
                          type: string
                        is_paid:
                          type: string
                        forensiq:
                          type: string
                          nullable: true
                        payment_type:
                          type: string
                          nullable: true
                        hold_date_expire:
                          type: string
                          nullable: true
                        fraud_risk_level:
                          type: string
                        decline_reason:
                          type: string
                        fraud_type:
                          type: array
                          items:
                            type: string
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
                      next_page:
                        type: integer
              example:
                status: 1
                conversions:
                - id: 59359e1d7e28feb7568b456a
                  action_id: 59359dcb7e28fee0558b4567
                  status: confirmed
                  currency: USD
                  goal: null
                  country: US
                  district: ''
                  city: New York
                  ip: 127.0.0.1
                  browser: Chrome 58.0.3029
                  os: Mac OS X 10.12.5
                  device: Other
                  offer:
                    id: 934
                    offer_id: 59313e097960ad2774b4f274
                    title: HD-smart [Web]
                    url: http://YOUR_API_DOMAIN/1/
                  offer_id: '934'
                  ios_idfa: ''
                  android_id: ''
                  sub1: ''
                  sub2: ''
                  sub3: ''
                  sub4: ''
                  sub5: ''
                  custom_field_1: ''
                  custom_field_2: ''
                  custom_field_3: ''
                  custom_field_4: ''
                  custom_field_5: ''
                  custom_field_6: ''
                  custom_field_7: ''
                  ua: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36
                  comment: ''
                  created_at: '2017-06-06 03:08:29'
                  updated_at: '2017-06-06 03:08:30'
                  click_time: '2017-06-06 03:07:07'
                  referrer: http://YOUR_API_DOMAIN
                  payouts: 1234
                  clickid: 59359dcb7e28fee0558b4567
                  partner:
                    id: 610
                    email: example@gmail.com
                    login: example
                    name: ''
                  goal_value: '1'
                  sum: 0
                  revenue: 12345
                  earnings: 11111
                  advertiser:
                    id: 56cc49dc3b7d9b89058b45f0
                    title: Example
                  payment_status: opened
                  is_paid: '1'
                  forensiq: null
                  payment_type: null
                  hold_date_expire: null
                  fraud_risk_level: not_analyzed
                  decline_reason: by_manager
                  fraud_type: []
                pagination:
                  per_page: 1
                  total_count: 17
                  page: 1
                  next_page: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/conversions?status[0]=1&offer[0]=0&offer[1]=1&advertiser[0]=string&advertiser[1]=string2&country[0]=string&country[1]=string2&goal_id[0]=0&goal_id[1]=1&device=tablet&payment_status=opened&partner[0]=0&partner[1]=1&page=1&limit=100&raw_export=0&decline_reason[0]=anti_fraud&fraud_risk_level[0]=not_analyzed&fraud_type[0]=string&fraud_type[1]=string2' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/getbydate:
    get:
      tags:
      - advertiser-stats
      summary: By date
      description: '`GET /3.0/stats/getbydate`


        Get statistics by date

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: orderType
        in: query
        description: Order type
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: locale
        in: query
        description: Locale
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          default: 100
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers ID's
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: Partners ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: not_offer_id
        in: query
        description: ONLY FOR ADMIN — Offer IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_id
        in: query
        description: ONLY FOR ADMIN — Advertiser IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_id
        in: query
        description: ONLY FOR ADMIN — Partner (affiliate) IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_manager_id
        in: query
        description: ONLY FOR ADMIN — Advertiser manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_manager_id
        in: query
        description: ONLY FOR ADMIN — Affiliate manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_smartlink_id
        in: query
        description: ONLY FOR ADMIN — SmartLink category IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_country
        in: query
        description: 'ONLY FOR ADMIN — Country codes to exclude from results. Example: US'
        schema:
          type: array
          items:
            type: string
      - name: not_advertiser_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated advertiser tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_affiliate_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated affiliate tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_offer_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated offer tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          properties:
                            year:
                              type: integer
                            month:
                              type: integer
                            day:
                              type: integer
                        traffic:
                          type: object
                          properties:
                            raw:
                              type: string
                            uniq:
                              type: string
                        actions:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              revenue:
                                type: number
                              charge:
                                type: number
                              earning:
                                type: number
                              'null':
                                type: integer
                              count:
                                type: integer
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                stats:
                - slice:
                    year: 2017
                    month: 5
                    day: 31
                  traffic:
                    raw: '0'
                    uniq: '0'
                  actions:
                    total:
                      revenue: 191190.40796039
                      charge: 339894.05859619
                      earning: 148703.65063587
                      'null': 0
                      count: 12600
                    confirmed:
                      revenue: 15.173841901617
                      charge: 26.975718936208
                      earning: 11.801877034591
                      'null': 0
                      count: 1
                    pending:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    declined:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    hold:
                      revenue: 191175.23411849
                      charge: 339867.08287725
                      earning: 148691.84875883
                      'null': 0
                      count: 12599
                pagination:
                  per_page: 100
                  total_count: 1
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/getbydate?filter[date_from]=<filter[date_from]>&filter[date_to]=<filter[date_to]>&orderType=asc&locale=en&limit=100&filter[currency][0]=string&filter[currency][1]=string2&page=1&filter[offer][0]=0&filter[offer][1]=1&not_offer_id[0]=0&not_offer_id[1]=1&not_advertiser_id[0]=string&not_advertiser_id[1]=string2&not_affiliate_id[0]=0&not_affiliate_id[1]=1&not_advertiser_manager_id[0]=string&not_advertiser_manager_id[1]=string2&not_affiliate_manager_id[0]=string&not_affiliate_manager_id[1]=string2&not_smartlink_id[0]=string&not_smartlink_id[1]=string2&not_country[0]=string&not_country[1]=string2' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/getbyhour:
    get:
      tags:
      - advertiser-stats
      summary: Hourly
      description: '`GET /3.0/stats/getbyhour`


        Get hourly statistics

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: locale
        in: query
        description: Locale for output a cities data when you use the city slice
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: orderType
        in: query
        description: Sorting order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers IDs
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: ONLY FOR ADMIN - Partners IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: not_offer_id
        in: query
        description: ONLY FOR ADMIN — Offer IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_id
        in: query
        description: ONLY FOR ADMIN — Advertiser IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_id
        in: query
        description: ONLY FOR ADMIN — Partner (affiliate) IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_manager_id
        in: query
        description: ONLY FOR ADMIN — Advertiser manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_manager_id
        in: query
        description: ONLY FOR ADMIN — Affiliate manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_smartlink_id
        in: query
        description: ONLY FOR ADMIN — SmartLink category IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_country
        in: query
        description: 'ONLY FOR ADMIN — Country codes to exclude from results. Example: US'
        schema:
          type: array
          items:
            type: string
      - name: not_advertiser_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated advertiser tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_affiliate_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated affiliate tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_offer_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated offer tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          properties:
                            year:
                              type: integer
                            month:
                              type: integer
                            day:
                              type: integer
                            hour:
                              type: integer
                        traffic:
                          type: object
                          properties:
                            raw:
                              type: string
                            uniq:
                              type: string
                        actions:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              revenue:
                                type: number
                              charge:
                                type: number
                              earning:
                                type: number
                              'null':
                                type: integer
                              count:
                                type: integer
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                stats:
                - slice:
                    year: 2017
                    month: 5
                    day: 31
                    hour: 0
                  traffic:
                    raw: '0'
                    uniq: '0'
                  actions:
                    total:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    confirmed:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    pending:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    declined:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    hold:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                pagination:
                  per_page: 100
                  total_count: 1
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/getbyhour?filter[date_from]=<filter[date_from]>&filter[date_to]=<filter[date_to]>&locale=en&page=1&limit=100&orderType=asc&filter[currency][0]=string&filter[currency][1]=string2&filter[offer][0]=0&filter[offer][1]=1&not_offer_id[0]=0&not_offer_id[1]=1&not_advertiser_id[0]=string&not_advertiser_id[1]=string2&not_affiliate_id[0]=0&not_affiliate_id[1]=1&not_advertiser_manager_id[0]=string&not_advertiser_manager_id[1]=string2&not_affiliate_manager_id[0]=string&not_affiliate_manager_id[1]=string2&not_smartlink_id[0]=string&not_smartlink_id[1]=string2&not_country[0]=string&not_country[1]=string2' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/getbyprogram:
    get:
      tags:
      - advertiser-stats
      summary: By offer
      description: '`GET /3.0/stats/getbyprogram`


        Get statistics by offer

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: locale
        in: query
        description: Locale for output a cities data when you use the city slice
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: orderType
        in: query
        description: Sorting order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers IDs
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: ONLY FOR ADMIN - Partners IDs
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: not_offer_id
        in: query
        description: ONLY FOR ADMIN — Offer IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_id
        in: query
        description: ONLY FOR ADMIN — Advertiser IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_id
        in: query
        description: ONLY FOR ADMIN — Partner (affiliate) IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_manager_id
        in: query
        description: ONLY FOR ADMIN — Advertiser manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_manager_id
        in: query
        description: ONLY FOR ADMIN — Affiliate manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_smartlink_id
        in: query
        description: ONLY FOR ADMIN — SmartLink category IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_country
        in: query
        description: 'ONLY FOR ADMIN — Country codes to exclude from results. Example: US'
        schema:
          type: array
          items:
            type: string
      - name: not_advertiser_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated advertiser tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_affiliate_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated affiliate tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_offer_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated offer tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          properties:
                            offer:
                              type: object
                              properties:
                                id:
                                  type: integer
                                offer_id:
                                  type: string
                                title:
                                  type: string
                        traffic:
                          type: object
                          properties:
                            raw:
                              type: string
                            uniq:
                              type: string
                        actions:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              revenue:
                                type: number
                              charge:
                                type: number
                              earning:
                                type: number
                              'null':
                                type: integer
                              count:
                                type: integer
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                stats:
                - slice:
                    offer:
                      id: 906
                      offer_id: 59313e127960ad2774b4f2b9
                      title: HD-smart [Web]
                  traffic:
                    raw: '0'
                    uniq: '0'
                  actions:
                    total:
                      revenue: 191190.40796039
                      charge: 339894.05859619
                      earning: 148703.65063587
                      'null': 0
                      count: 12600
                    confirmed:
                      revenue: 15.173841901617
                      charge: 26.975718936208
                      earning: 11.801877034591
                      'null': 0
                      count: 1
                    pending:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    declined:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    hold:
                      revenue: 191175.23411849
                      charge: 339867.08287725
                      earning: 148691.84875883
                      'null': 0
                      count: 12599
                pagination:
                  per_page: 100
                  total_count: 1
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/getbyprogram?filter[date_from]=<filter[date_from]>&filter[date_to]=<filter[date_to]>&locale=en&page=1&limit=100&orderType=asc&filter[currency][0]=string&filter[currency][1]=string2&filter[offer][0]=0&filter[offer][1]=1&not_offer_id[0]=0&not_offer_id[1]=1&not_advertiser_id[0]=string&not_advertiser_id[1]=string2&not_affiliate_id[0]=0&not_affiliate_id[1]=1&not_advertiser_manager_id[0]=string&not_advertiser_manager_id[1]=string2&not_affiliate_manager_id[0]=string&not_affiliate_manager_id[1]=string2&not_smartlink_id[0]=string&not_smartlink_id[1]=string2&not_country[0]=string&not_country[1]=string2' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/getbycountries:
    get:
      tags:
      - advertiser-stats
      summary: By country
      description: '`GET /3.0/stats/getbycountries`


        Get statistics by country

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: locale
        in: query
        description: Locale for output a cities data when you use the city slice
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: orderType
        in: query
        description: Sorting order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers ID's
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: Partners ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: not_offer_id
        in: query
        description: ONLY FOR ADMIN — Offer IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_id
        in: query
        description: ONLY FOR ADMIN — Advertiser IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_id
        in: query
        description: ONLY FOR ADMIN — Partner (affiliate) IDs to exclude from results
        schema:
          type: array
          items:
            type: integer
      - name: not_advertiser_manager_id
        in: query
        description: ONLY FOR ADMIN — Advertiser manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_affiliate_manager_id
        in: query
        description: ONLY FOR ADMIN — Affiliate manager IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_smartlink_id
        in: query
        description: ONLY FOR ADMIN — SmartLink category IDs to exclude from results
        schema:
          type: array
          items:
            type: string
      - name: not_country
        in: query
        description: 'ONLY FOR ADMIN — Country codes to exclude from results. Example: US'
        schema:
          type: array
          items:
            type: string
      - name: not_advertiser_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated advertiser tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_affiliate_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated affiliate tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      - name: not_offer_tag
        in: query
        description: 'ONLY FOR ADMIN — Comma-separated offer tags to exclude. Example: tag1,tag2'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          properties:
                            country:
                              type: string
                        traffic:
                          type: object
                          properties:
                            raw:
                              type: string
                            uniq:
                              type: string
                        actions:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              revenue:
                                type: number
                              charge:
                                type: number
                              earning:
                                type: number
                              'null':
                                type: integer
                              count:
                                type: integer
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                stats:
                - slice:
                    country: USA
                  traffic:
                    raw: '0'
                    uniq: '0'
                  actions:
                    total:
                      revenue: 191190.40796039
                      charge: 339894.05859619
                      earning: 148703.65063587
                      'null': 0
                      count: 12600
                    confirmed:
                      revenue: 15.173841901617
                      charge: 26.975718936208
                      earning: 11.801877034591
                      'null': 0
                      count: 1
                    pending:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    declined:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    hold:
                      revenue: 191175.23411849
                      charge: 339867.08287725
                      earning: 148691.84875883
                      'null': 0
                      count: 12599
                pagination:
                  per_page: 1
                  total_count: 1
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/getbycountries?filter[date_from]=<filter[date_from]>&filter[date_to]=<filter[date_to]>&locale=en&page=1&limit=100&orderType=asc&filter[currency][0]=string&filter[currency][1]=string2&filter[offer][0]=0&filter[offer][1]=1&not_offer_id[0]=0&not_offer_id[1]=1&not_advertiser_id[0]=string&not_advertiser_id[1]=string2&not_affiliate_id[0]=0&not_affiliate_id[1]=1&not_advertiser_manager_id[0]=string&not_advertiser_manager_id[1]=string2&not_affiliate_manager_id[0]=string&not_affiliate_manager_id[1]=string2&not_smartlink_id[0]=string&not_smartlink_id[1]=string2&not_country[0]=string&not_country[1]=string2' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/getbybrowsers:
    get:
      tags:
      - advertiser-stats
      summary: By browser
      description: '`GET /3.0/stats/getbybrowsers`


        Get statistics by browser

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: locale
        in: query
        description: Locale for output a cities data when you use the city slice
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: orderType
        in: query
        description: Sorting order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers ID's
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: Partners ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          properties:
                            browser:
                              type: string
                        traffic:
                          type: object
                          properties:
                            raw:
                              type: string
                            uniq:
                              type: string
                        actions:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              revenue:
                                type: number
                              charge:
                                type: number
                              earning:
                                type: number
                              'null':
                                type: integer
                              count:
                                type: integer
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                stats:
                - slice:
                    browser: ''
                  traffic:
                    raw: '0'
                    uniq: '0'
                  actions:
                    total:
                      revenue: 191190.40796039
                      charge: 339894.05859619
                      earning: 148703.65063587
                      'null': 0
                      count: 12600
                    confirmed:
                      revenue: 15.173841901617
                      charge: 26.975718936208
                      earning: 11.801877034591
                      'null': 0
                      count: 1
                    pending:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    declined:
                      revenue: 0
                      charge: 0
                      earning: 0
                      'null': 0
                      count: 0
                    hold:
                      revenue: 191175.23411849
                      charge: 339867.08287725
                      earning: 148691.84875883
                      'null': 0
                      count: 12599
                pagination:
                  per_page: 1
                  total_count: 1
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/stats/getbybrowsers?filter[date_from]=<filter[date_from]>&filter[date_to]=<filter[date_to]>&locale=en&page=1&limit=100&orderType=asc&filter[currency][0]=string&filter[currency][1]=string2&filter[offer][0]=0&filter[offer][1]=1' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/stats/getbybrowsersversion:
    get:
      tags:
      - advertiser-stats
      summary: By browser version
      description: '`GET /3.0/stats/getbybrowsersversion`


        Get statistics by browser version

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: filter[date_from]
        in: query
        description: Date from
        required: true
        schema:
          type: string
          format: date
      - name: filter[date_to]
        in: query
        description: Date to
        required: true
        schema:
          type: string
          format: date
      - name: locale
        in: query
        description: Locale for output a cities data when you use the city slice
        schema:
          type: string
          enum:
          - ru
          - en
          - es
          default: en
      - name: timezone
        in: query
        description: Timezone name. Example Europe/Berlin
        schema:
          type: string
      - name: page
        in: query
        description: Page of stat entities
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit of stat entities
        schema:
          type: integer
          maximum: 500
          default: 100
      - name: orderType
        in: query
        description: Sorting order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: filter[currency]
        in: query
        description: The list of a currencies code
        schema:
          type: array
          items:
            type: string
      - name: filter[advertiser]
        in: query
        description: Advertiser ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[offer]
        in: query
        description: Offers ID's
        schema:
          type: array
          items:
            type: integer
      - name: filter[manager]
        in: query
        description: Managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_manager_id]
        in: query
        description: Advertiser managers ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[partner]
        in: query
        description: Partners ID's
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[country]
        in: query
        description: Countries codes. Example US
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[os]
        in: query
        description: Os
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[goal]
        in: query
        description: Goal
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub1]
        in: query
        description: Sub 1
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub2]
        in: query
        description: Sub 2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub3]
        in: query
        description: Sub 3
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub4]
        in: query
        description: Sub 4
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub5]
        in: query
        description: Sub 5
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub6]
        in: query
        description: Sub 6
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub7]
        in: query
        description: Sub 7
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[sub8]
        in: query
        description: Sub 8
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[device]
        in: query
        description: Device
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filter[advertiser_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[affiliate_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      - name: filter[offer_tag]
        in: query
        description: Comma separated array of strings. Example tag1,tag2,tag3
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        slice:
                          type: object
                          properties:
                            browser_version:
                              type: string
                        traffic:
                          type: object
                          properties:
                            raw:
[...]
