openapi: 3.2.0
info:
  title: Documentation Admin Offers API
  version: '3.2'
  x-logo:
    altText: Affise API documentation.
    url: affise_logo.svg
    backgroundColor: '#fafafa'
  description: 'API 3.1 documentation.


    Authorization


    ```shell

    curl --header "API-Key:23df424b0a53b0899f78685966243ee61" http://YOUR_API_DOMAIN/

    or

    curl http://YOUR_API_DOMAIN/some_path?API-Key=23df424b0a53b0899f78685966243ee61

    ```



    For data exchange using authentication public key passed as parameter in the header API-Key. As the key, a hash generated for your site. API key, you can see in your profile.


    Find out more about where you can get your API URL, API-key and personal API-key for Affiliate here - [Getting Started with API](https://help-center.affise.com/en/articles/6463675-start-with-api-networks)


    Postman collection


    A ready-to-use Postman collection covering all endpoints of this documentation is available in the [affise-postman-api-collection](https://github.com/affise/affise-postman-api-collection) repository. Import the collection together with the Demo environment, set your `baseUrl` and API keys in the environment variables, and you are ready to send requests.


    <aside class="warning">

    All API requests must include an API-Key header or API-Key GET parameter for client authentication.

    </aside>

    '
servers:
- url: https://api-demo.affise.com
  description: Demo Server
  variables:
    api-key:
      default: 685168e94e6a96fa7c31895e
      description: Demo Test API Key
tags:
- name: admin-offers
  x-displayName: Offers
  description: Admin offer management — create, edit, delete, mass-update, categories, sources, creatives
paths:
  /3.0/admin/offer:
    post:
      tags:
      - admin-offers
      summary: Add offer
      description: '`POST /3.0/admin/offer`


        Add new offer

        '
      parameters:
      - name: API-Key
        in: header
        description: API key
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Title
                advertiser:
                  type: string
                  description: Advertiser ID
                url:
                  type: string
                  description: Tracking URL
                parallel_tracking_url:
                  type: string
                  description: Parallel tracking URL
                cross_postback_url:
                  type: string
                  description: Cross-postback URL
                cross_postback_method:
                  type: string
                  enum:
                  - get
                  - post
                  description: Cross-postback method
                cross_postback_body:
                  type: string
                  description: Cross-postback body (required for cross_postback_method=post)
                macro_url:
                  type: string
                  description: Additional macro
                url_preview:
                  type: string
                  description: View URL
                trafficback_url:
                  type: string
                  description: Trafficback URL
                description_lang[en]:
                  type: string
                  description: Offer description in English
                description_lang[ru]:
                  type: string
                  description: Offer description in Russian
                stopDate:
                  type: string
                  format: date
                  description: Stop date (YYYY-MM-DD)
                creativeFiles:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Array of creative files to upload
                creativeUrls:
                  type: array
                  items:
                    type: string
                  description: Array of URLs to external creative resources
                creativeDownloads:
                  type: array
                  items:
                    type: string
                  description: Array of URLs to external creative resources for download
                creativesHtml:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_creative_html_structure'
                  description: HTML creative
                creativeAssets:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Assets for html creative
                sources:
                  type: array
                  items:
                    type: string
                  description: Array of traffic sources
                logo:
                  type: string
                  format: binary
                  description: Logo file
                status:
                  type: string
                  enum:
                  - stopped
                  - active
                  - suspended
                  default: stopped
                  description: Offer status
                tags:
                  type: array
                  items:
                    type: string
                  description: Offer tags
                privacy:
                  type: string
                  enum:
                  - public
                  - protected
                  - private
                  description: Privacy level
                is_top:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: The top offer
                is_cpi:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: CPI
                payments:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_payment_structure'
                  description: Payments array
                partner_payments:
                  type: array
                  items:
                    allOf:
                    - type: object
                      properties:
                        partners:
                          type: array
                          items:
                            type: integer
                          required: true
                          description: Array of partner ID, which include payments (It's available only for personal payments)
                    - $ref: '#/components/schemas/offer_payment_structure'
                  description: Array of personal payments
                notice_percent_overcap:
                  type: integer
                  description: The percentage conversions to achieve the daily limit at which messages will be sent
                landings:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_landing_structure'
                  description: Array of landings
                strictly_country:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Strictly identify the country
                strictly_connection_type:
                  type: string
                  enum:
                  - ''
                  - wi-fi
                  - cellular
                  description: Strictly identify the connection type
                restriction_os:
                  type: array
                  items:
                    type: object
                  description: Strictly identify the operating system
                strictly_devices:
                  type: array
                  items:
                    type: string
                  description: Strictly identify the device
                caps:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_caps_structure'
                  description: Caps
                strictly_brands:
                  type: array
                  items:
                    type: string
                  description: Vendors
                caps_status:
                  type: array
                  items:
                    type: string
                    enum:
                    - confirmed
                    - pending
                    - hold
                    - declined
                  description: Array of conversion statuses for caps calculation
                caps_timezone:
                  type: string
                  description: Select timezone of conversions calculating for caps with periods day/month
                commission_tiers:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_tier_structure'
                  description: Commission tiers
                enabled_commission_tiers:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Enable commission tiers
                hold_period:
                  type: integer
                  minimum: 0
                  maximum: 60
                  description: 'Hold period duration (0-60). The unit is defined by hold_type (default: days)'
                hold_type:
                  type: string
                  enum:
                  - days
                  - hours
                  default: days
                  description: Hold type
                categories:
                  type: array
                  items:
                    type: string
                  description: Array of categories
                notes:
                  type: string
                  description: Offer notes
                allowed_ip:
                  type: string
                  description: Allowed IP
                hash_password:
                  type: string
                  description: Secure postback code
                allow_deeplink:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Allow deeplinks
                hide_referer:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Hide referrer
                redirect_type:
                  type: string
                  enum:
                  - http302
                  - http302hidden
                  - js
                  - meta
                  description: Redirect types
                schedule[date_start]:
                  type: string
                  format: date
                  description: Date time of launch (YYYY-MM-DD)
                is_redirect_overcap:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Send traffic to trafficback by daily overcaps
                hide_payments:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Hide the percentage of contributions to offer for partners
                click_session:
                  type: string
                  default: 1y
                  description: Click Session Lifespan
                minimal_click_session:
                  type: string
                  default: 0s
                  description: Minimal click session lifespan
                sub_account_1:
                  type: string
                  description: Allowed sub1 values
                sub_account_2:
                  type: string
                  description: Allowed sub2 values
                sub_account_1_except:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Block sub1 values
                sub_account_2_except:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Block sub2 values
                smartlink_categories:
                  type: array
                  items:
                    type: string
                  description: Smartlink category ID
                kpi[en]:
                  type: string
                  description: KPI description in English
                kpi[ru]:
                  type: string
                  description: KPI description in Russian
                sub_restrictions:
                  type: array
                  items:
                    type: object
                  description: Sub restriction pair
                uniqIpOnly:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Unique IP only flag
                rejectNotUniqIp:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Reject not unique IP flag
                restriction_isp:
                  type: array
                  items:
                    type: object
                  description: Strictly ISP
                external_offer_id:
                  type: string
                  description: External offer id
                bundle_id:
                  type: string
                  description: Bundle id
                note_aff:
                  type: string
                  description: Note for affiliate
                note_sales:
                  type: string
                  description: Note for sales
                disallowed_ip:
                  type: string
                  description: Disallowed IP
                hide_caps:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Hide caps in partner interface
                search_empty_sub:
                  type: integer
                  minimum: 1
                  maximum: 8
                  description: Search for an empty sub with this number
                caps_goal_overcap:
                  type: string
                  description: When cap for chosen default goal is reached, clicks would be redirected to Trafficback url
                targeting:
                  type: array
                  items:
                    $ref: '#/components/schemas/targeting_group_structure'
                  description: Array of targeting groups
                allow_impressions:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Allow impressions for offer
                impressions_url:
                  type: string
                  description: Impressions destination URL
                additional_impression_destination_urls:
                  type: string
                  description: Additional impression destination URL
                consider_personal_targeting_only:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
                  description: Consider personal targeting only
                schedule:
                  $ref: '#/components/schemas/offer_schedule_structure'
                sign_clicks_integration:
                  type: string
                  enum:
                  - no_sign
                  - appsflyer
                  - kochava
                  description: Click Signature Service
                tracking_domain:
                  type: string
                  description: The domain name (FQDN) for the tracking URL
                duplicate_clicks_threshold:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 0
                  description: The number of clicks after which a user will be redirected to Trafficback
                macros_replacement:
                  type: array
                  items:
                    type: object
                  description: Macros replacement
                macros_replacement_enabled:
                  type: array
                  items:
                    type: string
                    enum:
                    - sub1
                    - sub2
                    - sub3
                    - sub4
                    - sub5
                    - sub6
                    - sub7
                    - sub8
                    - sub9
                    - sub10
                  description: Macros replacement enabled
                auto_offer_connect:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Automatically connect affiliates to the offer
                creatives:
                  type: array
                  items:
                    type: object
                    properties:
                      file_name:
                        type: string
                        description: Creative file name
                      width:
                        type: number
                        description: Creative width
                      height:
                        type: number
                        description: Creative height
                  description: Array of existing creatives (used to update dimensions or delete creatives)
                creativeFileTitles:
                  type: array
                  items:
                    type: string
                  description: Titles for creative files uploaded via creativeFiles (in the same order)
                creativeUrlTitles:
                  type: array
                  items:
                    type: string
                  description: Titles for creative URLs passed via creativeUrls (in the same order)
                creativeDownloadTitles:
                  type: array
                  items:
                    type: string
                  description: Titles for creative download URLs passed via creativeDownloads (in the same order)
                freshness:
                  type: string
                  enum:
                  - default
                  - old
                  - fresh
                  - exclusive
                  description: Offer freshness
                privacy_level:
                  type: integer
                  minimum: 0
                  maximum: 6
                  description: Offer privacy level (0-6)
                start_at:
                  type: string
                  description: Offer start date, YYYY-MM-DD or YYYY-MM-DD HH:MM:SS (only current or future date)
                send_emails:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Send email notifications about the offer
                overcap:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Enable overcap
                is_impression_overcap:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Enable overcap for impressions
                skad_app_id:
                  type: string
                  description: SKAdNetwork application ID
                redirect_param:
                  type: string
                  description: Redirect parameter for the tracking link
                managers:
                  type: array
                  items:
                    type: string
                  maxItems: 10
                  description: Array of manager (user) IDs assigned to the offer (max 10)
                hosts_only:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Count statistics by unique hosts only
                host_uniqueness_type:
                  type: string
                  enum:
                  - cookie
                  - sub3
                  description: Host uniqueness detection type
                product_feed_id:
                  type: string
                  description: Product feed ID
              required:
              - title
              - advertiser
              - url
              - payments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  offer:
                    $ref: '#/components/schemas/offer'
              example:
                status: 1
                offer:
                  id: 936
                  offer_id: 5943f7307e28fe9a1f8b456d
                  advertiser: 573c69a33b7d9b0e638b4576
                  hide_payments: false
                  title: test
                  macro_url: null
                  url: http://YOUR_API_DOMAIN
                  cross_postback_url: http://test-url.com
                  cross_postback_method: post
                  cross_postback_body: test data
                  url_preview: http://preview.YOUR_API_DOMAIN
                  preview_url: http://preview.YOUR_API_DOMAIN
                  domain_url: YOUR_API_DOMAIN
                  use_https: false
                  use_http: true
                  description_lang:
                    ru: Описание
                    en: Description
                  sources: []
                  logo: /images/cpa/logos/
                  status: stopped
                  tags:
                  - default
                  privacy: public
                  is_top: 0
                  payments: []
                  partner_payments: []
                  landings: []
                  strictly_country: 0
                  strictly_os: {}
                  strictly_connection_type: wi-fi
                  is_redirect_overcap: false
                  notice_percent_overcap: null
                  hold_period: 0
                  hold_type: days
                  categories: []
                  full_categories: []
                  cr: 0
                  epc: 0
                  notes: null
                  allowed_ip: ''
                  hash_password: null
                  allow_deeplink: 0
                  hide_referer: 0
                  start_at: '2017-06-17 12:35:00'
                  stop_at: null
                  auto_offer_connect: null
                  required_approval: false
                  is_cpi: false
                  creatives: []
                  creatives_zip: null
                  smartlink_categories:
                  - 595e3b5b7e28fede7b8b456d
                  click_session: 1y
                  minimal_click_session: 0s
                  external_offer_id: 5a97f4af94b814997c8b456a
                  bundle_id: 5jfj7jjs0amcslsaaah
                  sub_restrictions:
                  - sub1: sub_value1
                    sub2: sub_value2
                  caps_timezone: Europe/Moscow
                  strictly_isp:
                  - 595e3b5b7e28fede7b8b456d
                  note_aff: ''
                  note_sales: ''
                  disallowed_ip: ''
                  hide_caps: 0
                  caps_status:
                  - confirmed
                  caps_goal_overcap: install
                  commission_tiers:
                  - affiliate_type: exact
                    affiliates:
                    - 1
                    goals: []
                    timeframe: month
                    type: budget
                    value: 55.6
                    target_goals: []
                    modifier_type: to_percent
                    modifier_value: 10.02
                    modifier_payment_type: payout
                    countries: []
                  consider_personal_targeting_only: false
                  schedule:
                    enabled: true
                    date_start: '2022-01-09'
                    date_to: '2022-08-01'
                    timezone: Europe/Monaco
                    intervals:
                    - day_of_week: 1
                      from: 2
                      to: 4
                    - day_of_week: 1
                      from: 8
                      to: 10
                  targeting:
                  - country:
                      allow:
                      - BR
                      - US
                      deny: []
                    region:
                      allow: {}
                      deny: {}
                    city:
                      allow: {}
                      deny: {}
                    os:
                      allow: []
                      deny: []
                    isp:
                      allow: {}
                      deny: {}
                    ip:
                      allow: []
                      deny: []
                    browser:
                      allow: []
                      deny: []
                    brand:
                      allow: []
                      deny: []
                    device_type: []
                    connection: []
                    affiliate_id: []
                    sub:
                      allow: {}
                      deny: {}
                      deny_groups: []
                    id: cc4fe1f5-3425-42ae-9874-a10fe29a2974
                    os_deny: false
                    zip: []
                    device_type_deny: false
                    connection_deny: false
                    macros_replacement: []
                    macros_replacement_enabled: []
                    browser_version: []
                    device_model: []
                    name: My Targeting
                    condition: and
                    enabled: true
                    isp_organization: []
                    referrer:
                      allow: []
                      deny: []
                      deny_empty: 0
                      is_regexp: false
                    ua: []
                    block_proxy: false
                    block_known_bots: false
                  duplicate_clicks_threshold: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer' \\\n  --header 'API-Key: <API-Key>' \\\n  --form 'title=string' \\\n  --form 'advertiser=string' \\\n  --form 'url=string' \\\n  --form 'parallel_tracking_url=string' \\\n  --form 'cross_postback_url=string' \\\n  --form 'cross_postback_method=get' \\\n  --form 'cross_postback_body=string' \\\n  --form 'macro_url=string' \\\n  --form 'url_preview=string' \\\n  --form 'trafficback_url=string' \\\n  --form 'description_lang[en]=string' \\\n  --form 'description_lang[ru]=string' \\\n  --form 'stopDate=string' \\\n  --form 'creativeFiles[0]=string' \\\n  --form 'creativeFiles[1]=string2' \\\n  --form 'creativeUrls[0]=string' \\\n  --form 'creativeUrls[1]=string2' \\\n  --form 'creativeDownloads[0]=string' \\\n  --form 'creativeDownloads[1]=string2' \\\n  --form 'creativeAssets[0]=string' \\\n  --form 'creativeAssets[1]=string2' \\\n  --form 'sources[0]=string' \\\n  --form 'sources[1]=string2' \\\n  --form 'logo=string' \\\n  --form 'status=stopped' \\\n  --form 'tags[0]=string' \\\n  --form 'tags[1]=string2' \\\n  --form 'privacy=public' \\\n  --form 'is_top=0' \\\n  --form 'is_cpi=0' \\\n  --form 'partner_payments[0][partners][0]=0' \\\n  --form 'partner_payments[0][partners][1]=1' \\\n  --form 'notice_percent_overcap=0' \\\n  --form 'strictly_country=0' \\\n  --form 'strictly_connection_type=' \\\n  --form 'strictly_devices[0]=string' \\\n  --form 'strictly_devices[1]=string2' \\\n  --form 'strictly_brands[0]=string' \\\n  --form 'strictly_brands[1]=string2' \\\n  --form 'caps_status[0]=confirmed' \\\n  --form 'caps_timezone=string' \\\n  --form 'enabled_commission_tiers=0' \\\n  --form 'hold_period=0' \\\n  --form 'hold_type=days' \\\n  --form 'categories[0]=string' \\\n  --form 'categories[1]=string2' \\\n  --form 'notes=string' \\\n  --form 'allowed_ip=string' \\\n  --form 'hash_password=string' \\\n  --form 'allow_deeplink=0' \\\n  --form 'hide_referer=0' \\\n  --form 'redirect_type=http302' \\\n  --form 'schedule[date_start]=string' \\\n  --form 'is_redirect_overcap=0' \\\n  --form 'hide_payments=0' \\\n  --form 'click_session=1y' \\\n  --form 'minimal_click_session=0s' \\\n  --form 'sub_account_1=string' \\\n  --form 'sub_account_2=string' \\\n  --form 'sub_account_1_except=0' \\\n  --form 'sub_account_2_except=0' \\\n  --form 'smartlink_categories[0]=string' \\\n  --form 'smartlink_categories[1]=string2' \\\n  --form 'kpi[en]=string' \\\n  --form 'kpi[ru]=string' \\\n  --form 'uniqIpOnly=0' \\\n  --form 'rejectNotUniqIp=0' \\\n  --form 'external_offer_id=string' \\\n  --form 'bundle_id=string' \\\n  --form 'note_aff=string' \\\n  --form 'note_sales=string' \\\n  --form 'disallowed_ip=string' \\\n  --form 'hide_caps=0' \\\n  --form 'search_empty_sub=0' \\\n  --form 'caps_goal_overcap=string' \\\n  --form 'allow_impressions=0' \\\n  --form 'impressions_url=string' \\\n  --form 'additional_impression_destination_urls=string' \\\n  --form 'consider_personal_targeting_only=true' \\\n  --form 'sign_clicks_integration=no_sign' \\\n  --form 'tracking_domain=string' \\\n  --form 'duplicate_clicks_threshold=0' \\\n  --form 'macros_replacement_enabled[0]=sub1' \\\n  --form 'auto_offer_connect=0' \\\n  --form 'creatives[0][file_name]=string' \\\n  --form 'creatives[0][width]=0' \\\n  --form 'creatives[0][height]=0' \\\n  --form 'creativeFileTitles[0]=string' \\\n  --form 'creativeFileTitles[1]=string2' \\\n  --form 'creativeUrlTitles[0]=string' \\\n  --form 'creativeUrlTitles[1]=string2' \\\n  --form 'creativeDownloadTitles[0]=string' \\\n  --form 'creativeDownloadTitles[1]=string2' \\\n  --form 'freshness=default' \\\n  --form 'privacy_level=0' \\\n  --form 'start_at=string' \\\n  --form 'send_emails=0' \\\n  --form 'overcap=0' \\\n  --form 'is_impression_overcap=0' \\\n  --form 'skad_app_id=string' \\\n  --form 'redirect_param=string' \\\n  --form 'managers[0]=string' \\\n  --form 'managers[1]=string2' \\\n  --form 'hosts_only=0' \\\n  --form 'host_uniqueness_type=cookie' \\\n  --form 'product_feed_id=string'"
  /3.0/admin/offer/{id}:
    post:
      tags:
      - admin-offers
      summary: Edit offer
      description: '`POST /3.0/admin/offer/{id}`


        Change an offer settings

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Offer ID
        required: true
        schema:
          type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Title
                advertiser:
                  type: string
                  description: Advertiser ID
                url:
                  type: string
                  description: Tracking URL
                parallel_tracking_url:
                  type: string
                  description: Parallel tracking URL
                cross_postback_url:
                  type: string
                  description: Cross-postback URL
                cross_postback_method:
                  type: string
                  enum:
                  - get
                  - post
                  description: Cross-postback method
                cross_postback_body:
                  type: string
                  description: Cross-postback body (required for cross_postback_method=post)
                macro_url:
                  type: string
                  description: Additional macro
                url_preview:
                  type: string
                  description: View URL
                trafficback_url:
                  type: string
                  description: Trafficback URL
                description_lang[en]:
                  type: string
                  description: Offer description in English
                description_lang[ru]:
                  type: string
                  description: Offer description in Russian
                kpi[en]:
                  type: string
                  description: KPI description in English
                kpi[ru]:
                  type: string
                  description: KPI description in Russian
                stopDate:
                  type: string
                  format: date
                  description: Stop date (YYYY-MM-DD)
                creativeFiles:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: An array of creative FILES to upload
                creativeUrls:
                  type: array
                  items:
                    type: string
                  description: An array of URLs to external creative resources
                creativeDownloads:
                  type: array
                  items:
                    type: string
                  description: An array of URLs to external creative resources for download
                creativesHtml:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_creative_html_structure'
                  description: HTML creative
                creativeAssets:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Assets for html creative
                creativeFileTitles:
                  type: array
                  items:
                    type: string
                  description: Array of titles for file creatives
                creativeUrlTitles:
                  type: array
                  items:
                    type: string
                  description: Array of titles for url creatives
                creativeDownloadTitles:
                  type: array
                  items:
                    type: string
                  description: Array of titles for download creatives
                sources:
                  type: array
                  items:
                    type: string
                  description: An array of traffic sources
                logo:
                  type: string
                  format: binary
                  description: logo File
                status:
                  type: string
                  enum:
                  - stopped
                  - active
                  - suspended
                  default: stopped
                  description: Offer status
                tags:
                  type: array
                  items:
                    type: string
                  description: Offer tags
                privacy:
                  type: string
                  enum:
                  - public
                  - protected
                  - private
                  description: Privacy level
                is_top:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: The top offer
                is_cpi:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: CPI
                payments:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_payment_structure'
                  description: Payments array
                partner_payments:
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/offer_payment_structure'
                    - type: object
                      properties:
                        partners:
                          type: array
                          items:
                            type: integer
                          description: Array of partner ID, which include payments (It's available only for personal payments)
                  description: Array of personal payments
                notice_percent_overcap:
                  type: integer
                  description: The percentage conversions to achieve the daily limit at which the messages will be sent
                landings:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_landing_structure'
                  description: An array of landings. This replaces the entire landings collection — any existing landing not included here is deleted. Pass an existing landing's id to update it in place; omit id to add a new landing. Pass an empty string (instead of an array) to clear all landings.
                strictly_country:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Strictly identify the country
                strictly_connection_type:
                  type: string
                  enum:
                  - ''
                  - wi-fi
                  - cellular
                  description: Strictly identify the connection type
                restriction_os:
                  type: array
                  items:
                    type: object
                  description: Strictly identify the operating system
                strictly_devices:
                  type: array
                  items:
                    type: string
                  description: Strictly identify the device
                caps:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_caps_structure'
                  description: Caps
                caps_status:
                  type: array
                  items:
                    type: string
                    enum:
                    - confirmed
                    - pending
                    - hold
                    - declined
                  description: Array of conversion statuses for caps calculation
                caps_timezone:
                  type: string
                  description: Select timezone of conversions calculating for caps with periods day/month
                commission_tiers:
                  type: array
                  items:
                    $ref: '#/components/schemas/offer_tier_structure'
                  description: Commission tiers
                enabled_commission_tiers:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Enable commission tiers
                hold_period:
                  type: integer
                  minimum: 0
                  maximum: 60
                  description: Hold time
                hold_type:
                  type: string
                  enum:
                  - days
                  - hours
                  default: days
                  description: Hold type
                categories:
                  type: array
                  items:
                    type: string
                  description: An array of categories
                notes:
                  type: string
                  description: Offer notes
                allowed_ip:
                  type: string
                  description: Allowed IP
                hash_password:
                  type: string
                  description: Secure postback code
                allow_deeplink:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Allow deeplinks
                hide_referer:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Hide referrer (deprecated, use redirect_type)
                redirect_type:
                  type: string
                  enum:
                  - http302
                  - http302hidden
                  - js
                  - meta
                  description: Redirect types
                schedule:
                  $ref: '#/components/schemas/offer_schedule_structure'
                is_redirect_overcap:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Send traffic to trafficback by daily overcaps
                hide_payments:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Hide the percentage of contributions to offer for partners
                click_session:
                  type: string
                  default: 1y
                  description: Click Session Lifespan
                minimal_click_session:
                  type: string
                  default: 0s
                  description: Minimal click session lifespan
                sub_account_1:
                  type: string
                  description: Sub1 list, separated by commas
                sub_account_2:
                  type: string
                  description: Sub2 list, separated by commas
                sub_account_1_except:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Except Sub1 list
                sub_account_2_except:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Except Sub2 list
                smartlink_categories:
                  type: array
                  items:
                    type: string
                  description: Smartlink category ID
                sub_restrictions:
                  type: array
                  items:
                    type: object
                  description: Sub restriction pair
                uniqIpOnly:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Unique IP only flag
                rejectNotUniqIp:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 0
                  description: Reject not unique IP flag
                restriction_isp:
                  type: array
                  items:
                    type: object
                  description: Stricly ISP
                external_offer_id:
                  type: string
                  description: External offer id
                bundle_id:
                  type: string
                  description: Bundle id
                hide_caps:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Hide caps in partner interface
                search_empty_sub:
                  type: integer
                  minimum: 1
                  maximum: 8
                  description: Search for an empty sub with this number
                caps_goal_overcap:
                  type: string
                  description: When cap for chosen default goal is reached, clicks would be redirected to Trafficback url
                targeting:
                  type: array
                  items:
                    $ref: '#/components/schemas/targeting_group_structure'
                  description: Array of targeting groups
                allow_impressions:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Allow impressions for offer
                impressions_url:
                  type: string
                  description: Impressions destination URL
                additional_impression_destination_urls:
                  type: string
                  description: Additional impression destination URL
                consider_personal_targeting_only:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
                  description: Consider personal targeting only
                sign_clicks_integration:
                  type: string
                  enum:
                  - no_sign
                  - appsflyer
                  - kochava
                  description: Click Signature Service
                tracking_domain:
                  type: string
                  description: The domain name (FQDN) for the tracking URL
                duplicate_clicks_threshold:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 0
                  description: The number of clicks after which a user will be redirected to Trafficback
                macros_replacement:
                  type: array
                  items:
                    type: object
                  description: Macros replacement
                macros_replacement_enabled:
                  type: array
                  items:
                    type: string
                    enum:
                    - sub1
                    - sub2
                    - sub3
                    - sub4
                    - sub5
                    - sub6
                    - sub7
                    - sub8
                    - sub9
                    - sub10
                  description: Macros replacement enabled
                auto_offer_connect:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Automatically connect affiliates to the offer
                creatives:
                  type: array
                  items:
                    type: object
                    properties:
                      file_name:
                        type: string
                        description: Creative file name
                      width:
                        type: number
                        description: Creative width
                      height:
                        type: number
                        description: Creative height
                  description: Array of existing creatives (used to update dimensions or delete creatives)
                freshness:
                  type: string
                  enum:
                  - default
                  - old
                  - fresh
                  - exclusive
                  description: Offer freshness
                privacy_level:
                  type: integer
                  minimum: 0
                  maximum: 6
                  description: Offer privacy level (0-6)
                note_aff:
                  type: string
                  description: Note for affiliate
                note_sales:
                  type: string
                  description: Note for sales
                disallowed_ip:
                  type: string
                  description: Disallowed IP addresses or ranges of IP addresses
                start_at:
                  type: string
                  description: Offer start date, YYYY-MM-DD or YYYY-MM-DD HH:MM:SS (only current or future date)
                send_emails:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Send email notifications about the offer
                overcap:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Enable overcap
                is_impression_overcap:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Enable overcap for impressions
                skad_app_id:
                  type: string
                  description: SKAdNetwork application ID
                redirect_param:
                  type: string
                  description: Redirect parameter for the tracking link
                managers:
                  type: array
                  items:
                    type: string
                  maxItems: 10
                  description: Array of manager (user) IDs assigned to the offer (max 10)
                hosts_only:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Count statistics by unique hosts only
                host_uniqueness_type:
                  type: string
                  enum:
                  - cookie
                  - sub3
                  description: Host uniqueness detection type
                product_feed_id:
                  type: string
                  description: Product feed ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  offer:
                    $ref: '#/components/schemas/offer'
              example:
                status: 1
                offer:
                  id: 936
                  offer_id: 5943f7307e28fe9a1f8b456d
                  advertiser: 573c69a33b7d9b0e638b4576
                  hide_payments: false
                  title: test_edit
                  macro_url: null
                  url: http://YOUR_API_DOMAIN
                  cross_postback_url: http://test-url.com
                  cross_postback_method: post
                  cross_postback_body: test data
                  url_preview: http://preview.YOUR_API_DOMAIN
                  preview_url: http://preview.YOUR_API_DOMAIN
                  domain_url: YOUR_API_DOMAIN
                  use_https: false
                  use_http: true
                  description_lang:
                    ru: Описание
                    en: Description
                  sources: []
                  logo: /images/cpa/logos/
                  status: stopped
                  tags:
                  - default
                  privacy: public
                  is_top: 0
                  payments: []
                  partner_payments: []
                  landings: []
                  strictly_country: 0
                  strictly_os: {}
                  strictly_connection_type: wi-fi
                  is_redirect_overcap: false
                  notice_percent_overcap: null
                  hold_period: 0
                  hold_type: days
                  categories: []
                  full_categories: []
                  cr: 0
                  epc: 0
                  notes: null
                  allowed_ip: ''
                  hash_password: null
                  allow_deeplink: 0
                  hide_referer: 0
                  start_at: '2017-06-17 12:35:00'
                  stop_at: null
                  auto_offer_connect: null
                  required_approval: false
                  is_cpi: false
                  creatives: []
                  creatives_zip: null
                  smartlink_categories:
                  - 595e3b5b7e28fede7b8b456d
                  click_session: 1y
                  minimal_click_session: 0s
                  external_offer_id: 5a97f4af94b814997c8b456a
                  bundle_id: 5jfj7jjs0amcslsaaah
                  sub_restrictions:
                  - sub1: sub_value1
                    sub2: sub_value2
                  caps_timezone: Europe/Moscow
                  strictly_isp:
                  - 595e3b5b7e28fede7b8b456d
                  note_aff: ''
                  note_sales: ''
                  disallowed_ip: ''
                  hide_caps: 0
                  caps_status:
                  - confirmed
                  caps_goal_overcap: install
                  commission_tiers:
                  - affiliate_type: exact
                    affiliates:
                    - 1
                    goals: []
                    timeframe: month
                    type: budget
                    value: 55.6
                    target_goals: []
                    modifier_type: to_percent
                    modifier_value: 10.02
                    modifier_payment_type: payout
                    countries: []
                  consider_personal_targeting_only: false
                  schedule:
                    enabled: true
                    date_start: '2022-01-09'
                    date_to: '2022-08-01'
                    timezone: Europe/Monaco
                    intervals:
                    - day_of_week: 1
                      from: 2
                      to: 4
                    - day_of_week: 1
                      from: 8
                      to: 10
                  targeting:
                  - country:
                      allow:
                      - BR
                      - US
                      deny: []
                    region:
                      allow: {}
                      deny: {}
                    city:
                      allow: {}
                      deny: {}
                    os:
                      allow: []
                      deny: []
                    isp:
                      allow: {}
                      deny: {}
                    ip:
                      allow: []
                      deny: []
                    browser:
                      allow: []
                      deny: []
                    brand:
                      allow: []
                      deny: []
                    device_type: []
                    connection: []
                    affiliate_id: []
                    sub:
                      allow: {}
                      deny: {}
                      deny_groups: []
                    id: cc4fe1f5-3425-42ae-9874-a10fe29a2974
                    os_deny: false
                    zip: []
                    device_type_deny: false
                    connection_deny: false
                    macros_replacement: []
                    macros_replacement_enabled: []
                    browser_version: []
                    device_model: []
                    name: My Targeting
                    condition: and
                    enabled: true
                    isp_organization: []
                    referrer:
                      allow: []
                      deny: []
                      deny_empty: 0
                      is_regexp: false
                    ua: []
                    block_proxy: false
                    block_known_bots: false
                  duplicate_clicks_threshold: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/{id}' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'title=string' \\\n  --form 'advertiser=string' \\\n  --form 'url=string' \\\n  --form 'parallel_tracking_url=string' \\\n  --form 'cross_postback_url=string' \\\n  --form 'cross_postback_method=get' \\\n  --form 'cross_postback_body=string' \\\n  --form 'macro_url=string' \\\n  --form 'url_preview=string' \\\n  --form 'trafficback_url=string' \\\n  --form 'description_lang[en]=string' \\\n  --form 'description_lang[ru]=string' \\\n  --form 'kpi[en]=string' \\\n  --form 'kpi[ru]=string' \\\n  --form 'stopDate=string' \\\n  --form 'creativeFiles[0]=string' \\\n  --form 'creativeFiles[1]=string2' \\\n  --form 'creativeUrls[0]=string' \\\n  --form 'creativeUrls[1]=string2' \\\n  --form 'creativeDownloads[0]=string' \\\n  --form 'creativeDownloads[1]=string2' \\\n  --form 'creativeAssets[0]=string' \\\n  --form 'creativeAssets[1]=string2' \\\n  --form 'creativeFileTitles[0]=string' \\\n  --form 'creativeFileTitles[1]=string2' \\\n  --form 'creativeUrlTitles[0]=string' \\\n  --form 'creativeUrlTitles[1]=string2' \\\n  --form 'creativeDownloadTitles[0]=string' \\\n  --form 'creativeDownloadTitles[1]=string2' \\\n  --form 'sources[0]=string' \\\n  --form 'sources[1]=string2' \\\n  --form 'logo=string' \\\n  --form 'status=stopped' \\\n  --form 'tags[0]=string' \\\n  --form 'tags[1]=string2' \\\n  --form 'privacy=public' \\\n  --form 'is_top=0' \\\n  --form 'is_cpi=0' \\\n  --form 'partner_payments[0][partners][0]=0' \\\n  --form 'partner_payments[0][partners][1]=1' \\\n  --form 'notice_percent_overcap=0' \\\n  --form 'strictly_country=0' \\\n  --form 'strictly_connection_type=' \\\n  --form 'strictly_devices[0]=string' \\\n  --form 'strictly_devices[1]=string2' \\\n  --form 'caps_status[0]=confirmed' \\\n  --form 'caps_timezone=string' \\\n  --form 'enabled_commission_tiers=0' \\\n  --form 'hold_period=0' \\\n  --form 'hold_type=days' \\\n  --form 'categories[0]=string' \\\n  --form 'categories[1]=string2' \\\n  --form 'notes=string' \\\n  --form 'allowed_ip=string' \\\n  --form 'hash_password=string' \\\n  --form 'allow_deeplink=0' \\\n  --form 'hide_referer=0' \\\n  --form 'redirect_type=http302' \\\n  --form 'is_redirect_overcap=0' \\\n  --form 'hide_payments=0' \\\n  --form 'click_session=1y' \\\n  --form 'minimal_click_session=0s' \\\n  --form 'sub_account_1=string' \\\n  --form 'sub_account_2=string' \\\n  --form 'sub_account_1_except=0' \\\n  --form 'sub_account_2_except=0' \\\n  --form 'smartlink_categories[0]=string' \\\n  --form 'smartlink_categories[1]=string2' \\\n  --form 'uniqIpOnly=0' \\\n  --form 'rejectNotUniqIp=0' \\\n  --form 'external_offer_id=string' \\\n  --form 'bundle_id=string' \\\n  --form 'hide_caps=0' \\\n  --form 'search_empty_sub=0' \\\n  --form 'caps_goal_overcap=string' \\\n  --form 'allow_impressions=0' \\\n  --form 'impressions_url=string' \\\n  --form 'additional_impression_destination_urls=string' \\\n  --form 'consider_personal_targeting_only=true' \\\n  --form 'sign_clicks_integration=no_sign' \\\n  --form 'tracking_domain=string' \\\n  --form 'duplicate_clicks_threshold=0' \\\n  --form 'macros_replacement_enabled[0]=sub1' \\\n  --form 'auto_offer_connect=0' \\\n  --form 'creatives[0][file_name]=string' \\\n  --form 'creatives[0][width]=0' \\\n  --form 'creatives[0][height]=0' \\\n  --form 'freshness=default' \\\n  --form 'privacy_level=0' \\\n  --form 'note_aff=string' \\\n  --form 'note_sales=string' \\\n  --form 'disallowed_ip=string' \\\n  --form 'start_at=string' \\\n  --form 'send_emails=0' \\\n  --form 'overcap=0' \\\n  --form 'is_impression_overcap=0' \\\n  --form 'skad_app_id=string' \\\n  --form 'redirect_param=string' \\\n  --form 'managers[0]=string' \\\n  --form 'managers[1]=string2' \\\n  --form 'hosts_only=0' \\\n  --form 'host_uniqueness_type=cookie' \\\n  --form 'product_feed_id=string'"
  /3.0/offers/count:
    get:
      tags:
      - admin-offers
      summary: Count of active offers
      description: '`GET /3.0/offers/count`


        Get count of offers in status ''active''

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  count:
                    type: integer
              example:
                status: 1
                count: 8
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/offers/count' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /ui/offers/available-for/{affiliate_id}:
    get:
      tags:
      - admin-offers
      summary: Offers available for affiliate
      description: '`GET /ui/offers/available-for/{affiliate_id}`


        Returns the offers available for the given affiliate — the same list the affiliate would see on the partner panel with their own API key, but requested with an admin API key.


        Available only for an admin (common-manager) or root API key that has read access to the offers section.

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        schema:
          type: string
        example: 23df424b0a53b0899f78685966243ee61
      - name: affiliate_id
        in: path
        description: Affiliate to list available offers for
        required: true
        schema:
          type: integer
        example: 1
      - name: page
        in: query
        description: Page of offers
        schema:
          type: integer
      - name: limit
        in: query
        description: Count offers by page
        schema:
          type: integer
          default: 100
          maximum: 500
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      $ref: '#/components/schemas/offer'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      per_page:
                        type: integer
                      page:
                        type: integer
                      next_page:
                        type: integer
              example:
                offers: []
                pagination:
                  total_count: 127
                  per_page: 20
                  page: 1
                  next_page: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/ui/offers/available-for/{affiliate_id}?limit=100' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/admin/offer/delete:
    post:
      tags:
      - admin-offers
      summary: Delete offer
      description: '`POST /3.0/admin/offer/delete`


        Delete the offer

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offer_id:
                  type: array
                  items:
                    type: integer
                  description: Offer IDs
                  example:
                    '0': 1
              required:
              - offer_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Offer 936 is removed successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/delete' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'offer_id[0]=1'"
  /3.1/offers/{id}/privacy:
    get:
      tags:
      - admin-offers
      summary: Enabled/disabled affiliates list
      description: '`GET /3.1/offers/{id}/privacy`


        Get list of enabled/disabled affiliates and offer''s privacy

        '
      parameters:
      - name: API-Key
        in: header
        description: API key
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Offer ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  affiliates_disabled:
                    type: array
                    items:
                      type: integer
                  affiliates_enabled:
                    type: array
                    items:
                      type: integer
                  privacy_level:
                    type: string
              example:
                affiliates_disabled: []
                affiliates_enabled:
                - 9
                privacy_level: private
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.1/offers/{id}/privacy' \\\n  --header 'API-Key: <API-Key>'"
  /3.0/admin/offer/sources:
    get:
      tags:
      - admin-offers
      summary: Sources
      description: '`GET /3.0/admin/offer/sources`


        Get list of sources

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  sources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        title_lang:
                          type: object
                          additionalProperties:
                            type: string
                        allowed:
                          type: integer
              example:
                status: 1
                sources:
                - id: 51f531f53b7d9b1e0382f6d9
                  title: Web sites
                  title_lang:
                    ru: веб сайты
                    en: web sites
                    es: ''
                  allowed: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/sources' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/admin/offer/source:
    post:
      tags:
      - admin-offers
      summary: Source add
      description: '`POST /3.0/admin/offer/source`


        Add new source

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title_lang[en]:
                  type: string
                  description: Title in English
                title_lang[ru]:
                  type: string
                  description: Title in Russian
                title_lang[es]:
                  type: string
                  description: Title in Spanish
                title_lang[ka]:
                  type: string
                  description: Title in Georgian
                title_lang[vi]:
                  type: string
                  description: Title in Vietnamese
              required:
              - title_lang[en]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  source:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      title_lang:
                        type: object
                        additionalProperties:
                          type: string
              example:
                status: 1
                source:
                  title: api-test-en-3
                  title_lang:
                    en: api-test-en-3
                    ru: api-test-ru-3
                    es: api-test-es-2
                    ka: api-test-ka-2
                    vi: api-test-vi-3
                  id: 5b7e6d350f0e5a001c7bb4d5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/source' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'title_lang[en]=string' \\\n  --form 'title_lang[ru]=string' \\\n  --form 'title_lang[es]=string' \\\n  --form 'title_lang[ka]=string' \\\n  --form 'title_lang[vi]=string'"
  /3.0/admin/offer/source/{id}:
    post:
      tags:
      - admin-offers
      summary: Source edit
      description: '`POST /3.0/admin/offer/source/{id}`


        Edit source

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Source ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title_lang[en]:
                  type: string
                  description: Title in English
                title_lang[ru]:
                  type: string
                  description: Title in Russian
                title_lang[es]:
                  type: string
                  description: Title in Spanish
                title_lang[ka]:
                  type: string
                  description: Title in Georgian
                title_lang[vi]:
                  type: string
                  description: Title in Vietnamese
              required:
              - title_lang[en]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  source:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      title_lang:
                        type: object
                        additionalProperties:
                          type: string
              example:
                status: 1
                source:
                  title: api-test-en-3
                  title_lang:
                    en: api-test-en-3
                    ru: api-test-ru-3
                    es: api-test-es-2
                    ka: api-test-ka-2
                    vi: api-test-vi-3
                  id: 5b7e6d350f0e5a001c7bb4d5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/source/{id}' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'title_lang[en]=string' \\\n  --form 'title_lang[ru]=string' \\\n  --form 'title_lang[es]=string' \\\n  --form 'title_lang[ka]=string' \\\n  --form 'title_lang[vi]=string'"
    delete:
      tags:
      - admin-offers
      summary: Source remove
      description: '`DELETE /3.0/admin/offer/source/{id}`


        Remove source

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Source ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  source:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      title_lang:
                        type: object
                        additionalProperties:
                          type: string
              example:
                status: 1
                source:
                  title: api-test-en-3
                  title_lang:
                    en: api-test-en-3
                    ru: api-test-ru-3
                    es: api-test-es-2
                    ka: api-test-ka-2
                    vi: api-test-vi-3
                  id: 5b7e6d350f0e5a001c7bb4d5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request DELETE \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/source/{id}' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/admin/category:
    post:
      tags:
      - admin-offers
      summary: Category add
      description: '`POST /3.0/admin/category`


        Add new category

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Category title
              required:
              - title
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  category:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
              example:
                status: 1
                category:
                  id: 59440f427e28feff5c8b4567
                  title: test_category
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/category' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'title=string'"
  /3.0/admin/category/{id}:
    post:
      tags:
      - admin-offers
      summary: Category edit
      description: '`POST /3.0/admin/category/{id}`


        Change a category

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        example: 23df424b0a53b0899f78685966243ee61
        schema:
          type: string
      - name: id
        in: path
        description: Category ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Category title
              required:
              - title
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  category:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
              example:
                status: 1
                category:
                  id: 59440f427e28feff5c8b4567
                  title: test_category2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/category/{id}' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'title=string'"
  /3.0/offer/enable-affiliate:
    post:
      tags:
      - admin-offers
      summary: Enable affiliate
      description: '`POST /3.0/offer/enable-affiliate`


        Connection an affiliate to offer

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offer_id:
                  oneOf:
                  - type: integer
                  - type: array
                    items:
                      type: integer
                  example:
                    '0': 2
                  description: Offer ID or array of offer IDs
                pid:
                  type: integer
                  description: Affiliate ID
                notice:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 1
                  description: Send notice to affiliate
              required:
              - offer_id
              - pid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Request for offer 935 is successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/offer/enable-affiliate' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'offer_id[0]=2' \\\n  --form 'pid=0' \\\n  --form 'notice=1'"
  /3.0/offer/disable-affiliate:
    post:
      tags:
      - admin-offers
      summary: Disable affiliate
      description: '`POST /3.0/offer/disable-affiliate`


        Disconnect an affiliate from offer

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offer_id:
                  oneOf:
                  - type: integer
                  - type: array
                    items:
                      type: integer
                  example:
                    '0': 2
                  description: Offer ID or array of offer IDs
                pid:
                  type: integer
                  description: Affiliate ID
                notice:
                  type: integer
                  enum:
                  - 0
                  - 1
                  default: 1
                  description: Send notice to affiliate
              required:
              - offer_id
              - pid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Request for offer 935 is successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/offer/disable-affiliate' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'offer_id[0]=2' \\\n  --form 'pid=0' \\\n  --form 'notice=1'"
  /3.0/admin/offer/mass-update:
    post:
      tags:
      - admin-offers
      summary: Update offer's status
      description: '`POST /3.0/admin/offer/mass-update`


        Update offers status

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                offer_id:
                  type: array
                  items:
                    type: integer
                  description: Offer IDs
                status:
                  type: string
                  enum:
                  - active
                  - stopped
                  - suspended
                  description: Status
                privacy:
                  type: string
                  enum:
                  - public
                  - protected
                  - private
                  description: Privacy level
              required:
              - offer_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: status updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/mass-update' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'offer_id[0]=0' \\\n  --form 'offer_id[1]=1' \\\n  --form 'status=active' \\\n  --form 'privacy=public'"
  /3.0/admin/offer/{id}/disable-affiliates:
    post:
      tags:
      - admin-offers
      summary: Disable affiliates
      description: '`POST /3.0/admin/offer/{id}/disable-affiliates`


        Disconnect all affiliates from private or protected offer

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        example: 23df424b0a53b0899f78685966243ee61
        schema:
          type: string
      - name: id
        in: path
        description: Private or protected offer ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Affiliates disabled successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/{id}/disable-affiliates' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/admin/affiliate/{id}/disable-offers:
    post:
      tags:
      - admin-offers
      summary: Disable offers
      description: '`POST /3.0/admin/affiliate/{id}/disable-offers`


        Disconnect all private or protected offers from affiliate

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        example: 23df424b0a53b0899f78685966243ee61
        schema:
          type: string
      - name: id
        in: path
        description: Affiliate ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Offers disabled successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/affiliate/{id}/disable-offers' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/admin/offer/{offerId}/tracking-link:
    post:
      tags:
      - admin-offers
      summary: Generate tracking link
      description: '`POST /3.0/admin/offer/{offerId}/tracking-link`


        Generate a tracking link for a specific offer and affiliate. Only available for admin and manager roles.

        Validates that the affiliate has access to the offer based on its privacy settings.

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: offerId
        in: path
        description: Offer ID
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                affiliate_id:
                  type: integer
                  description: Affiliate ID
                sub1:
                  type: string
                  description: Sub parameter 1
                sub2:
                  type: string
                  description: Sub parameter 2
                sub3:
                  type: string
                  description: Sub parameter 3
                sub4:
                  type: string
                  description: Sub parameter 4
                sub5:
                  type: string
                  description: Sub parameter 5
                sub6:
                  type: string
                  description: Sub parameter 6
                sub7:
                  type: string
                  description: Sub parameter 7
                sub8:
                  type: string
                  description: Sub parameter 8
              required:
              - affiliate_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  tracking_link:
                    type: string
              example:
                status: 1
                tracking_link: https://your-tracking-domain.com/click?pid=610&offer_id=935&sub1=value1&sub2=value2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/{offerId}/tracking-link' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'affiliate_id=0' \\\n  --form 'sub1=string' \\\n  --form 'sub2=string' \\\n  --form 'sub3=string' \\\n  --form 'sub4=string' \\\n  --form 'sub5=string' \\\n  --form 'sub6=string' \\\n  --form 'sub7=string' \\\n  --form 'sub8=string'"
  /3.0/admin/offer/{id}/remove-creative:
    delete:
      tags:
      - admin-offers
      summary: Remove creative from offer
      description: '`DELETE /3.0/admin/offer/{id}/remove-creative`


        Remove creative from offer by creative id

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Offer ID
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                creatives:
                  type: array
                  items:
                    type: integer
                  example:
                    '0': 12345
                  description: Creative IDs
              required:
              - creatives
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  removed:
                    type: array
                    items:
                      type: integer
              example:
                status: 1
                removed:
                - 1
                - 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request DELETE \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/{id}/remove-creative' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'creatives[0]=12345'"
  /3.0/admin/offer/{offer_id}/creative/html/{creative_id}:
    post:
      tags:
      - admin-offers
      summary: Change HTML creatives
      description: '`POST /3.0/admin/offer/{offer_id}/creative/html/{creative_id}`


        Change html creative from offer by creative id

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: offer_id
        in: path
        description: Offer ID
        required: true
        schema:
          type: integer
      - name: creative_id
        in: path
        description: Creative ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: HTML code
                name:
                  type: string
                  description: Creative name
                width:
                  type: integer
                  description: Creative width
                height:
                  type: integer
                  description: Creative height
              required:
              - code
              - name
              - width
              - height
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  creatives:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        url:
                          type: string
                        title:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                        size:
                          type: integer
                        overwritten:
                          type: boolean
                        assets:
                          type: array
                          items:
                            type: object
              example:
                creatives:
                - id: 7caf7245-be89-4845-bf47-31bfada8e3f9
                  type: image/jpeg
                  url: http://s3host/bucket/offers/99999/104/x-files.jpeg
                  title: x-files
                  width: 1024
                  height: 768
                  size: 79685
                  overwritten: false
                - id: a899dae2-a9c0-4c11-a5d3-76a131a9ed0e
                  type: text/html
                  url: http://s3host/bucket/offers/99999/104/23249c03-a9b3-11ec-a56e-0242ac10ee4d.html
                  title: html creative
                  width: 100
                  height: 100
                  size: 132
                  assets:
                  - url: http://s3host/bucket/99999/104/opt/app/web/creatives/ab/66/ab661c7ca92142727035b33a72a209d7.jpeg
                    title: ab661c7ca92142727035b33a72a209d7.jpeg
                    size: 112836
                  overwritten: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request POST \\\n  --url 'https://api-demo.affise.com/3.0/admin/offer/{offer_id}/creative/html/{creative_id}' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61' \\\n  --form 'code=string' \\\n  --form 'name=string' \\\n  --form 'width=0' \\\n  --form 'height=0'"
    delete:
      tags:
      - admin-offers
      summary: Delete HTML creatives
      description: '`DELETE /3.0/admin/offer/{offer_id}/creative/html/{creative_id}`


        Delete html creative from offer by creative id

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        example: 23df424b0a53b0899f78685966243ee61
        required: true
        schema:
          type: string
      - name: offer_id
        in: path
[...]
