openapi: 3.2.0
info:
  title: Documentation Affiliate Smartlinks API
  version: '3.2'
  x-logo:
    altText: Affise API documentation.
    url: affise_logo.svg
    backgroundColor: '#fafafa'
  description: 'API 3.1 documentation.


    Authorization


    ```shell

    curl --header "API-Key:23df424b0a53b0899f78685966243ee61" http://YOUR_API_DOMAIN/

    or

    curl http://YOUR_API_DOMAIN/some_path?API-Key=23df424b0a53b0899f78685966243ee61

    ```



    For data exchange using authentication public key passed as parameter in the header API-Key. As the key, a hash generated for your site. API key, you can see in your profile.


    Find out more about where you can get your API URL, API-key and personal API-key for Affiliate here - [Getting Started with API](https://help-center.affise.com/en/articles/6463675-start-with-api-networks)


    Postman collection


    A ready-to-use Postman collection covering all endpoints of this documentation is available in the [affise-postman-api-collection](https://github.com/affise/affise-postman-api-collection) repository. Import the collection together with the Demo environment, set your `baseUrl` and API keys in the environment variables, and you are ready to send requests.


    <aside class="warning">

    All API requests must include an API-Key header or API-Key GET parameter for client authentication.

    </aside>

    '
servers:
- url: https://api-demo.affise.com
  description: Demo Server
  variables:
    api-key:
      default: 685168e94e6a96fa7c31895e
      description: Demo Test API Key
tags:
- name: affiliate-smartlinks
  x-displayName: Smartlinks
  description: Affiliate smartlinks, referrals
paths:
  /3.0/partner/smartlink/categories:
    get:
      tags:
      - affiliate-smartlinks
      summary: SmartLink categories
      description: '`GET /3.0/partner/smartlink/categories`


        SmartLink categories list

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        schema:
          type: string
        example: 23df424b0a53b0899f78685966243ee61
      - name: id
        in: query
        description: SmartLink categories ID collections
        schema:
          type: array
          items:
            type: string
          example:
            id[0]: 5718dac83b7d9bf8588b4579
      - name: name
        in: query
        description: Search by category name
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        name:
                          type: string
                        domain:
                          type: string
                        use_https:
                          type: boolean
                        description:
                          type: string
                          nullable: true
                        created_at:
                          type: string
              example:
                status: 1
                data:
                - _id: 595e3b547e28fede7b8b456c
                  name: test1
                  domain: myDomen.com
                  use_https: false
                  description: null
                  created_at: '2017-07-06 13:29:56'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/partner/smartlink/categories?id[0]=5718dac83b7d9bf8588b4579' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
  /3.0/partner/smartlink/category/{id}/offers-count:
    get:
      tags:
      - affiliate-smartlinks
      summary: SmartLink offer count
      description: '`GET /3.0/partner/smartlink/category/{id}/offers-count`


        Add new SmartLink category

        '
      parameters:
      - name: api-key
        in: header
        description: API key
        required: true
        example: 23df424b0a53b0899f78685966243ee61
        schema:
          type: string
      - name: id
        in: path
        description: Category ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
              example:
                status: 1
                data:
                  count: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "curl --request GET \\\n  --url 'https://api-demo.affise.com/3.0/partner/smartlink/category/{id}/offers-count' \\\n  --header 'api-key: 23df424b0a53b0899f78685966243ee61'"
components:
  responses:
    Forbidden:
      description: Forbidden - Access denied, insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 2
              message:
                type: string
                example: Auth Denied
    Unauthorized:
      description: Unauthorized - API key is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 2
              message:
                type: string
                example: Token is necessary
    InternalServerError:
      description: Internal Server Error - Server error, please contact administrator
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 2
              message:
                type: string
                example: Server error, Please contact your administrator
x-tagGroups:
- name: Admin API
  tags:
  - admin-advertisers
  - admin-affiliates
  - admin-offers
  - admin-stats
  - admin-conversions
  - admin-users
  - admin-presets
  - admin-payments
  - admin-billing
  - admin-smartlinks
  - admin-tickets
  - admin-automation
  - admin-adcosts
  - admin-other
- name: Advertiser API
  tags:
  - advertiser-auth
  - advertiser-offers
  - advertiser-stats
- name: Affiliate API
  tags:
  - affiliate-profile
  - affiliate-offers
  - affiliate-stats
  - affiliate-postbacks
  - affiliate-conversions
  - affiliate-pixels
  - affiliate-smartlinks
  - affiliate-news
  - affiliate-other
- name: Resources
  tags:
  - resources
