openapi: 3.1.1
info:
  title: API Documentation
  version: '3.2'
  x-logo:
    altText: Affise API documentation.
    url: affise_logo.svg
    backgroundColor: '#fafafa'
  description: |
    API 3.1 documentation.

    Authorization

    ```shell
    curl --header "API-Key:23df424b0a53b0899f78685966243ee61" http://YOUR_API_DOMAIN/
    or
    curl http://YOUR_API_DOMAIN/some_path?API-Key=23df424b0a53b0899f78685966243ee61
    ```


    For data exchange using authentication public key passed as parameter in the header API-Key. As the key, a hash generated for your site. API key, you can see in your profile.

    Find out more about where you can get your API URL, API-key and personal API-key for Affiliate here - [Getting Started with API](https://help-center.affise.com/en/articles/6463675-start-with-api-networks)

    Postman collection

    A ready-to-use Postman collection covering all endpoints of this documentation is available in the [affise-postman-api-collection](https://github.com/affise/affise-postman-api-collection) repository. Import the collection together with the Demo environment, set your `baseUrl` and API keys in the environment variables, and you are ready to send requests.

    <aside class="warning">
    All API requests must include an API-Key header or API-Key GET parameter for client authentication.
    </aside>
servers:
  - url: https://api-demo.affise.com
    description: Demo Server
    variables:
      api-key:
        default: 685168e94e6a96fa7c31895e
        description: Demo Test API Key
tags:
  - name: admin-advertisers
    x-displayName: Advertisers
    description: Admin operations on advertisers
  - name: admin-affiliates
    x-displayName: Affiliates
    description: Admin operations on affiliates (partners)
  - name: admin-users
    x-displayName: Users
    description: Admin user management
  - name: admin-offers
    x-displayName: Offers
    description: Admin offer management — create, edit, delete, mass-update, categories, sources, creatives
  - name: admin-conversions
    x-displayName: Conversions
    description: Admin conversion editing and import
  - name: admin-billing
    x-displayName: Advertiser Billing
    description: Advertiser invoice management
  - name: admin-payments
    x-displayName: Billing
    description: Affiliate payments API. Available for Expand, Custom and Trial plans.
  - name: admin-automation
    x-displayName: Automation
    description: KPI and block-logs automation
  - name: admin-presets
    x-displayName: Presets
    description: Admin presets management
  - name: admin-stats
    x-displayName: Statistics
    description: Statistics endpoints available to admin (includes admin-only and multi-role)
  - name: admin-adcosts
    x-displayName: Ad Costs
    description: Ad cost reporting
  - name: admin-tickets
    x-displayName: Tickets
    description: Ticket management — list, view, approve/reject affiliate connections to offers and SmartLinks
  - name: admin-smartlinks
    x-displayName: Smartlinks
    description: Admin smartlinks — categories management
  - name: admin-other
    x-displayName: Other
    description: Other admin endpoints — domains, currencies, custom fields, payment systems
  - name: advertiser-auth
    x-displayName: Auth & Registration
    description: Advertiser registration and login
  - name: advertiser-offers
    x-displayName: Offers
    description: Advertiser offer listing
  - name: advertiser-stats
    x-displayName: Statistics
    description: Statistics endpoints available to advertiser (multi-role only)
  - name: affiliate-profile
    x-displayName: Profile
    description: Affiliate profile, API key
  - name: affiliate-offers
    x-displayName: Offers
    description: Affiliate offer listing, live offers, activation
  - name: affiliate-postbacks
    x-displayName: Postbacks
    description: Affiliate postback management
  - name: affiliate-pixels
    x-displayName: Pixels
    description: Affiliate tracking pixels
  - name: affiliate-stats
    x-displayName: Statistics
    description: Statistics endpoints available to affiliate (multi-role + affiliate-only)
  - name: affiliate-conversions
    x-displayName: Conversions
    description: Affiliate conversion import
  - name: affiliate-news
    x-displayName: News
    description: Affiliate news feed
  - name: affiliate-smartlinks
    x-displayName: Smartlinks
    description: Affiliate smartlinks, referrals
  - name: affiliate-other
    x-displayName: Other
    description: Affiliate balance, product feeds
  - name: resources
    x-displayName: Lookup
    description: Public lookup data — countries, regions, ISPs, OSes, goals, browsers, cities, etc.
paths:
  /3.1/adcosts:
    get:
      tags:
        - admin-adcosts
      summary: Get Ad Costs
      description: |
        `GET /3.1/adcosts`

        Returns ad cost data based on filters.
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: offer_id
          in: query
          description: Offer ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: page with results
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: results per page
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  costs:
                    type: array
                    items:
                      type: object
                      properties:
                        offer_id:
                          type: integer
                        affiliate_id:
                          type: integer
                        date:
                          type: string
                          format: date
                        sub8:
                          type: string
                        costs:
                          type: number
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
              example:
                status: 1
                costs:
                  - offer_id: 2
                    affiliate_id: 4
                    date: '2025-02-12'
                    sub8: sub_example_1
                    costs: 33.1
                  - offer_id: 2
                    affiliate_id: 5
                    date: '2025-02-01'
                    sub8: sub_example_2
                    costs: 100.4
                  - offer_id: 2
                    affiliate_id: 5
                    date: '2024-01-01'
                    sub8: testS8
                    costs: 20
                pagination:
                  page: 1
                  limit: 100
                  total: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request GET \
              --url 'https://api-demo.affise.com/3.1/adcosts?offer_id=<offer_id>&page=1&limit=100' \
              --header 'api-key: <api-key>'
    post:
      tags:
        - admin-adcosts
      summary: Create or Update Ad Costs
      description: |
        `POST /3.1/adcosts`

        This method is used to create or update ad costs.
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offer_id:
                  type: integer
                  description: Offer ID
                affiliate_id:
                  type: integer
                  description: Affiliate ID
                date:
                  type: string
                  format: date
                  description: Date (format YYYY-MM-DD)
                sub8:
                  type: string
                  description: Sub8
                costs:
                  type: number
                  format: float
                  description: Costs
              required:
                - offer_id
                - affiliate_id
                - date
                - sub8
                - costs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: adcost has been added successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.1/adcosts' \
              --header 'api-key: <api-key>' \
              --form 'offer_id=0' \
              --form 'affiliate_id=0' \
              --form 'date=string' \
              --form 'sub8=string' \
              --form 'costs=0'
    delete:
      tags:
        - admin-adcosts
      summary: Delete Ad Costs
      description: |
        `DELETE /3.1/adcosts`

        Method for deleting ad costs.
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offer_id:
                  type: integer
                  description: Offer ID
                affiliate_id:
                  type: integer
                  description: Affiliate ID
                date:
                  type: string
                  format: date
                  description: Date (format YYYY-MM-DD)
                sub8:
                  type: string
                  description: Sub8
              required:
                - offer_id
                - affiliate_id
                - date
                - sub8
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: adcost has been removed successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request DELETE \
              --url 'https://api-demo.affise.com/3.1/adcosts' \
              --header 'api-key: <api-key>' \
              --form 'offer_id=0' \
              --form 'affiliate_id=0' \
              --form 'date=string' \
              --form 'sub8=string'
  /3.0/admin/advertiser-invoices:
    get:
      tags:
        - admin-billing
      summary: Invoices list
      description: |
        `GET /3.0/admin/advertiser-invoices`

        Get list of invoices
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page of entities
          schema:
            type: integer
        - name: limit
          in: query
          description: Limit of entities
          schema:
            type: integer
            default: 100
        - name: status
          in: query
          description: Status of invoice
          schema:
            type: string
            enum:
              - paid
              - unpaid
        - name: start_date
          in: query
          description: Start date of period
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date of period
          schema:
            type: string
            format: date
        - name: supplier_id
          in: query
          description: Advertiser ID
          schema:
            type: string
        - name: sort
          in: query
          description: Sort field
          schema:
            type: string
            enum:
              - number
              - supplier_id
              - created_at
              - start_date
              - end_date
              - status
        - name: sort_type
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        number:
                          type: integer
                        supplier_id:
                          type: string
                        created_at:
                          type: string
                          format: date
                        updated_at:
                          type: string
                          format: date
                        start_date:
                          type: string
                          format: date
                        end_date:
                          type: string
                          format: date
                        status:
                          type: string
                        detail:
                          type: array
                          items:
                            type: object
                            properties:
                              offer_id:
                                type: integer
                              payout_type:
                                type: string
                              actions:
                                type: integer
                              amount:
                                type: integer
                              comment:
                                type: string
                        currency:
                          type: string
                        comment:
                          type: string
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
              example:
                status: 1
                message:
                  - number: 1
                    supplier_id: 5a37c01cbf0b6b18008b4567
                    created_at: '2018-01-11'
                    updated_at: '2018-01-11'
                    start_date: '2017-12-05'
                    end_date: '2017-12-07'
                    status: unpaid
                    detail:
                      - offer_id: 1
                        payout_type: RPA
                        actions: 100
                        amount: 100
                        comment: null
                    currency: USD
                    comment: null
                  - number: 2
                    supplier_id: 5a37c01cbf0b6b18008b4567
                    created_at: '2018-01-11'
                    updated_at: '2018-01-11'
                    start_date: '2018-01-11'
                    end_date: '2018-01-11'
                    status: unpaid
                    detail:
                      - offer_id: 1
                        payout_type: RPA
                        actions: 55
                        amount: 666
                        comment: null
                    currency: USD
                    comment: some comment
                pagination:
                  per_page: 100
                  total_count: 2
                  page: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request GET \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser-invoices?limit=100&status=paid&sort=number&sort_type=asc' \
              --header 'api-key: <api-key>'
  /3.0/admin/advertiser-invoice:
    post:
      tags:
        - admin-billing
      summary: Add invoice
      description: |
        `POST /3.0/admin/advertiser-invoice`

        Add new invoice
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                supplier_id:
                  type: string
                  description: Advertiser Id
                start_date:
                  type: string
                  description: Start date of invoice period
                end_date:
                  type: string
                  description: End date of invoice period
                status:
                  type: string
                  description: Invoice status
                  enum:
                    - paid
                    - unpaid
                currency:
                  type: string
                  description: One of the active currencies (RUB, USD, EUR etc)
                comment:
                  type: string
                  description: Comment
                detail:
                  type: array
                  items:
                    type: object
                    properties:
                      offer_id:
                        type: integer
                        description: Offer id
                      payout_type:
                        type: string
                        description: Payout type
                        enum:
                          - RPA
                          - RPS
                          - RPA + RPS
                          - RPC
                          - RPM
                      actions:
                        type: integer
                        description: Actions
                      amount:
                        type: integer
                        description: Amount
                      comment:
                        type: string
                        description: Comment for detail
              required:
                - supplier_id
                - currency
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Invoice created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser-invoice' \
              --header 'api-key: <api-key>' \
              --form 'supplier_id=string' \
              --form 'start_date=string' \
              --form 'end_date=string' \
              --form 'status=paid' \
              --form 'currency=string' \
              --form 'comment=string' \
              --form 'detail[0][offer_id]=0' \
              --form 'detail[0][payout_type]=RPA' \
              --form 'detail[0][actions]=0' \
              --form 'detail[0][amount]=0' \
              --form 'detail[0][comment]=string'
  /3.0/admin/advertiser-invoice/{number}:
    get:
      tags:
        - admin-billing
      summary: Invoices view
      description: |
        `GET /3.0/admin/advertiser-invoice/{number}`

        Get a invoice
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: Invoice number
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: object
                    properties:
                      number:
                        type: integer
                      supplier_id:
                        type: string
                      created_at:
                        type: string
                        format: date
                      updated_at:
                        type: string
                        format: date
                      start_date:
                        type: string
                        format: date
                      end_date:
                        type: string
                        format: date
                      status:
                        type: string
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            offer_id:
                              type: integer
                            payout_type:
                              type: string
                            actions:
                              type: integer
                            amount:
                              type: integer
                            comment:
                              type: string
                      currency:
                        type: string
                      comment:
                        type: string
              example:
                status: 1
                message:
                  number: 1
                  supplier_id: 5a37c01cbf0b6b18008b4567
                  created_at: '2018-01-11'
                  updated_at: '2018-01-11'
                  start_date: '2017-12-05'
                  end_date: '2017-12-07'
                  status: paid
                  detail:
                    - offer_id: 1
                      payout_type: RPA
                      actions: 100
                      amount: 100
                      comment: null
                  currency: USD
                  comment: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request GET \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser-invoice/{number}' \
              --header 'api-key: <api-key>'
    post:
      tags:
        - admin-billing
      summary: Edit invoice
      description: |
        `POST /3.0/admin/advertiser-invoice/{number}`

        Change an invoice's data
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: Invoice number
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                supplier_id:
                  type: string
                  description: Advertiser Id
                start_date:
                  type: string
                  description: Start date of invoice period
                end_date:
                  type: string
                  description: End date of invoice period
                status:
                  type: string
                  description: Invoice status
                  enum:
                    - paid
                    - unpaid
                comment:
                  type: string
                  description: Comment
                detail:
                  type: array
                  items:
                    type: object
                    properties:
                      offer_id:
                        type: integer
                        description: Offer id
                      payout_type:
                        type: string
                        description: Payout type
                        enum:
                          - RPA
                          - RPS
                          - RPA + RPS
                          - RPC
                          - RPM
                      actions:
                        type: integer
                        description: Actions
                      amount:
                        type: integer
                        description: Amount
                      comment:
                        type: string
                        description: Comment for detail
                currency:
                  type: string
                  description: 'Currency code (one of the currencies active in the network). Example: USD'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Invoice updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser-invoice/{number}' \
              --header 'api-key: <api-key>' \
              --form 'supplier_id=string' \
              --form 'start_date=string' \
              --form 'end_date=string' \
              --form 'status=paid' \
              --form 'comment=string' \
              --form 'detail[0][offer_id]=0' \
              --form 'detail[0][payout_type]=RPA' \
              --form 'detail[0][actions]=0' \
              --form 'detail[0][amount]=0' \
              --form 'detail[0][comment]=string' \
              --form 'currency=string'
  /3.0/admin/advertiser/{id}:
    get:
      tags:
        - admin-advertisers
      summary: Get advertiser
      description: |
        `GET /3.0/admin/advertiser/{id}`

        Get advertiser by ID
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          example: 23df424b0a53b0899f78685966243ee61
          schema:
            type: string
        - name: id
          in: path
          description: Advertiser ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  advertiser:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      contact:
                        type: string
                      email:
                        type: string
                      skype:
                        type: string
                      manager:
                        type: string
                      manager_obj:
                        type: object
                      url:
                        type: string
                      address_1:
                        type: string
                      address_2:
                        type: string
                      city:
                        type: string
                      country:
                        type: string
                      zip_code:
                        type: string
                      vat_code:
                        type: string
                      allowed_ip:
                        type: array
                        items:
                          type: string
                      disallowed_ip:
                        type: array
                        items:
                          type: string
                      consider_personal_targeting_only:
                        type: boolean
                      tags:
                        type: array
                        items:
                          type: string
                      hash_password:
                        type: string
                      skad_network_id:
                        type: array
                        items:
                          type: string
                      disabled_choice_postback_status:
                        type: boolean
                      hide_conversion_status:
                        type: boolean
                      hosts_only:
                        type: boolean
                      sign_clicks_integration:
                        type: string
                      sub_accounts:
                        type: object
                      note:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      affiliates_enabled:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                      affiliates_disabled:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
              example:
                status: 1
                advertiser:
                  address_1: null
                  address_2: null
                  allowed_ip: []
                  city: Los Angeles
                  consider_personal_targeting_only: false
                  contact: John Doe
                  country: US
                  created_at: '2023-02-22 15:11:09'
                  updated_at: '2023-02-22 15:11:09'
                  disabled_choice_postback_status: false
                  disallowed_ip: []
                  email: adv@gmail.com
                  hash_password: e6277f0201b26c2c0bb5fcf8bdf25997
                  hide_conversion_status: false
                  hosts_only: false
                  id: 5b5f415035752723008b456a
                  manager: 63f5ecb90ed3182eb3dba530
                  manager_obj:
                    api_key: c40469ac42533296ac6c638f392b2ece
                    avatar: null
                    created_at: '2023-04-20 17:21:40'
                    email: new-user@gmail.com
                    facebook: facebook
                    first_name: John
                    id: 64413c649b70ab801d9b9a71
                    last_login_at: null
                    last_name: Doe
                    roles:
                      - ROLE_ADMIN
                    skype: skype
                    telegram: telegram
                    type: common_manager
                    updated_at: '2023-04-20 17:21:40'
                    username: 64413c649b70ab801d9b9a71
                    viber: viber
                    wechat: wechat
                    whatsapp: whatsapp
                    work_hours: null
                  note: null
                  sign_clicks_integration: no_sign
                  skad_network_id: []
                  skype: '456345345'
                  sub_accounts:
                    '1':
                      except: false
                      value: null
                    '2':
                      except: false
                      value: null
                  tags: []
                  title: Test supplier
                  url: null
                  vat_code: null
                  zip_code: null
                  affiliates_enabled:
                    - id: 1
                      name: Affiliate
                  affiliates_disabled: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request GET \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser/{id}' \
              --header 'api-key: 23df424b0a53b0899f78685966243ee61'
    post:
      tags:
        - admin-advertisers
      summary: Edit advertiser
      description: |
        `POST /3.0/admin/advertiser/{id}`

        Change an advertiser's data
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Advertiser ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Company name
                contact:
                  type: string
                  description: Contact person name
                skype:
                  type: string
                  description: IM/Skype
                manager:
                  type: string
                  description: Manager ID
                url:
                  type: string
                  description: Site Url
                email:
                  type: string
                  description: Email
                password:
                  type: string
                  description: 'Password: 8 or up to 30 characters with at least one uppercase, at least one lowercase, at least one numeric digit, at least one of the allowed special characters listed: _-!@*.$%?&#/|\~<>^{}[]():;'
                allowed_ip:
                  type: string
                  description: |-
                    Allowed IP. Example: 127.0.0.1
                    127.0.1.1-127.0.2.1
                note:
                  type: string
                  description: Note
                address_1:
                  type: string
                  description: Main address string
                address_2:
                  type: string
                  description: Additional address
                city:
                  type: string
                  description: City name
                country:
                  type: string
                  description: Country ISO name
                zip_code:
                  type: string
                  description: Zip code
                vat_code:
                  type: string
                  description: Vat code
                sub_account_1:
                  type: string
                  description: Sub1 list, separated by commas
                sub_account_2:
                  type: string
                  description: Sub2 list, separated by commas
                sub_account_1_except:
                  type: integer
                  description: Except Sub1 list
                  enum:
                    - 0
                    - 1
                  default: 0
                sub_account_2_except:
                  type: integer
                  description: Except Sub2 list
                  enum:
                    - 0
                    - 1
                  default: 0
                consider_personal_targeting_only:
                  type: string
                  enum:
                    - 'true'
                    - 'false'
                tags:
                  type: array
                  items:
                    type: string
                  description: An array of tags (All the previous tags will be overwritten by new ones)
                  example:
                    '0': tag1
                    '1': tag2
                sign_clicks_integration:
                  type: string
                  enum:
                    - no_sign
                    - appsflyer
                    - kochava
                  description: Click Signature Service
                hash_password:
                  type: string
                  description: Secure postback code
                skad_network_id:
                  type: array
                  description: SkadNetwork ID. For multiple IDs, use `skad_network_id[1]`, `skad_network_id[2]`, etc. (All the IDs will be overwritten by new ones)
                  items:
                    type: string
                  example:
                    '0': string
                disabled_choice_postback_status:
                  type: boolean
                  description: 'Forbid the affiliates from changing the postback status (for all the offers of this advertiser): true or false'
                affiliates_enabled:
                  type: array
                  items:
                    type: integer
                  description: An array of Affiliate IDs
                affiliates_disabled:
                  type: array
                  items:
                    type: integer
                  description: An array of Affiliate IDs
                disallowed_ip:
                  type: string
                  description: |-
                    Disallowed IP. Example: 127.0.0.1
                    127.0.1.1-127.0.2.1
                logo:
                  type: string
                  description: Advertiser logo URL
                hide_conversion_status:
                  type: boolean
                  description: 'Hide conversion status from affiliates: true or false'
                sign_clicks_appsflyer_key:
                  type: boolean
                  description: 'Enable click signing: true or false'
                status:
                  type: string
                  enum:
                    - active
                    - inactive
                    - moderation
                  description: Advertiser status
                hosts_only:
                  type: boolean
                  description: 'Count statistics by unique clicks (hosts) only: true or false. Available when the hosts-only feature is enabled'
                subaccounts_encryption:
                  type: boolean
                  description: 'Enable sub-accounts encryption: true or false. Available when the sub-accounts encryption feature is enabled'
                host_uniqueness_number_unique_clicks:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: Host uniqueness — number of unique clicks (1-100)
                host_uniqueness_time_frame:
                  type: integer
                  minimum: 1
                  maximum: 48
                  description: Host uniqueness — time frame in hours (1-48)
                custom_fields:
                  type: object
                  description: 'Custom field values keyed by custom field ID. Send as `custom_fields[1]=value`; checkbox-type fields accept multiple values: `custom_fields[2][0]=value`'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  advertiser:
                    type: object
              example:
                status: 1
                advertiser:
                  address_1: address 1
                  address_2: address 2
                  allowed_ip: []
                  city: Lisbon
                  consider_personal_targeting_only: true
                  contact: John Doe
                  country: PT
                  created_at: '2023-04-17 11:32:06'
                  updated_at: '2023-04-17 11:40:18'
                  disallowed_ip: []
                  email: adv-test6@gmail.com
                  hash_password: b5ecd86502e9bdfba8d1dc16444b4602
                  hide_conversion_status: false
                  hosts_only: false
                  id: 643cf5f6b49e5edafb231b40
                  manager: 5cd55442d596c1c7008b4567
                  manager_obj:
                    api_key: c40469ac42533296ac6c638f392b2ece
                    avatar: null
                    created_at: '2023-04-20 17:21:40'
                    email: new-user@gmail.com
                    facebook: facebook
                    first_name: John
                    id: 64413c649b70ab801d9b9a71
                    last_login_at: null
                    last_name: Doe
                    roles:
                      - ROLE_ADMIN
                    skype: skype
                    telegram: telegram
                    type: common_manager
                    updated_at: '2023-04-20 17:21:40'
                    username: 64413c649b70ab801d9b9a71
                    viber: viber
                    wechat: wechat
                    whatsapp: whatsapp
                    work_hours: null
                  note: null
                  sign_clicks_integration: no_sign
                  skad_network_id: []
                  skype: '123123'
                  sub_accounts:
                    '1':
                      except: false
                      value: null
                    '2':
                      except: false
                      value: null
                  tags:
                    - mobile
                  title: Market Inc
                  url: http://example.com
                  vat_code: null
                  zip_code: null
                  disabled_choice_postback_status: true
                  affiliates_enabled:
                    - 1
                    - 2
                  affiliates_disabled:
                    - 3
                    - 4
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser/{id}' \
              --header 'api-key: <api-key>' \
              --form 'title=string' \
              --form 'contact=string' \
              --form 'skype=string' \
              --form 'manager=string' \
              --form 'url=string' \
              --form 'email=string' \
              --form 'password=string' \
              --form 'allowed_ip=string' \
              --form 'note=string' \
              --form 'address_1=string' \
              --form 'address_2=string' \
              --form 'city=string' \
              --form 'country=string' \
              --form 'zip_code=string' \
              --form 'vat_code=string' \
              --form 'sub_account_1=string' \
              --form 'sub_account_2=string' \
              --form 'sub_account_1_except=0' \
              --form 'sub_account_2_except=0' \
              --form 'consider_personal_targeting_only=true' \
              --form 'tags[0]=tag1' \
              --form 'tags[1]=tag2' \
              --form 'sign_clicks_integration=no_sign' \
              --form 'hash_password=string' \
              --form 'skad_network_id[0]=string' \
              --form 'disabled_choice_postback_status=false' \
              --form 'affiliates_enabled[0]=0' \
              --form 'affiliates_enabled[1]=1' \
              --form 'affiliates_disabled[0]=0' \
              --form 'affiliates_disabled[1]=1' \
              --form 'disallowed_ip=string' \
              --form 'logo=string' \
              --form 'hide_conversion_status=false' \
              --form 'sign_clicks_appsflyer_key=false' \
              --form 'status=active' \
              --form 'hosts_only=false' \
              --form 'subaccounts_encryption=false' \
              --form 'host_uniqueness_number_unique_clicks=0' \
              --form 'host_uniqueness_time_frame=0'
  /3.0/admin/advertisers:
    get:
      tags:
        - admin-advertisers
      summary: Advertisers list
      description: |
        `GET /3.0/admin/advertisers`

        Get a list of advertisers
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page of entities
          schema:
            type: integer
        - name: limit
          in: query
          description: Limit of entities (max 500)
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: order
          in: query
          description: Sort by field
          schema:
            type: string
            enum:
              - id
              - email
              - title
              - created_at
              - updated_at
            default: id
        - name: orderType
          in: query
          description: Sorting order
          schema:
            type: string
            enum:
              - desc
              - asc
            default: asc
        - name: updated_at
          in: query
          description: Get advertisers that have been updated from this date (format YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: with_offers
          in: query
          description: Show advertisers with offers
          schema:
            type: integer
            enum:
              - 1
        - name: id[]
          in: query
          description: Filter by advertiser ID
          schema:
            type: array
            items:
              type: string
        - name: name
          in: query
          description: Filter by advertiser name
          schema:
            type: string
        - name: tags[]
          in: query
          description: Filter by tags
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  advertisers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        contact:
                          type: string
                        email:
                          type: string
                        skype:
                          type: string
                        manager:
                          type: string
                        manager_obj:
                          type: object
                        url:
                          type: string
                        address_1:
                          type: string
                        address_2:
                          type: string
                        city:
                          type: string
                        country:
                          type: string
                        zip_code:
                          type: string
                        vat_code:
                          type: string
                        allowed_ip:
                          type: array
                          items:
                            type: string
                        disallowed_ip:
                          type: array
                          items:
                            type: string
                        consider_personal_targeting_only:
                          type: boolean
                        tags:
                          type: array
                          items:
                            type: string
                        hash_password:
                          type: string
                        skad_network_id:
                          type: array
                          items:
                            type: string
                        hide_conversion_status:
                          type: boolean
                        hosts_only:
                          type: boolean
                        sign_clicks_integration:
                          type: string
                        sub_accounts:
                          type: object
                        note:
                          type: string
                        offers:
                          type: integer
                        has_user:
                          type: boolean
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        affiliates_enabled:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                        affiliates_disabled:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
                      next_page:
                        type: integer
              example:
                status: 1
                advertisers:
                  - address_1: Address 1
                    address_2: null
                    allowed_ip: []
                    city: Berlin
                    consider_personal_targeting_only: false
                    contact: Samuel
                    country: DE
                    created_at: '2023-02-17 18:29:42'
                    updated_at: '2023-02-17 18:29:42'
                    disallowed_ip: []
                    email: adv@gmail.com
                    has_user: false
                    hash_password: null
                    hide_conversion_status: false
                    hosts_only: false
                    id: 63ef8f56d05af8acc266ae09
                    manager: Sales Manager
                    manager_obj:
                      api_key: c40469ac42533296ac6c638f392b2ece
                      avatar: null
                      created_at: '2023-04-20 17:21:40'
                      email: new-user@gmail.com
                      facebook: facebook
                      first_name: John
                      id: 64413c649b70ab801d9b9a71
                      last_login_at: null
                      last_name: Doe
                      roles:
                        - ROLE_ADMIN
                      skype: skype
                      telegram: telegram
                      type: common_manager
                      updated_at: '2023-04-20 17:21:40'
                      username: 64413c649b70ab801d9b9a71
                      viber: viber
                      wechat: wechat
                      whatsapp: whatsapp
                      work_hours: null
                    sub_accounts:
                      '1':
                        except: false
                        value: null
                      '2':
                        except: false
                        value: null
                    note: null
                    offers: 0
                    sign_clicks_integration: no_sign
                    skad_network_id: []
                    skype: '32543543'
                    tags: []
                    title: Advertiser
                    url: http://YOUR_API_DOMAIN
                    vat_code: null
                    zip_code: null
                    affiliates_enabled:
                      - id: 1
                        name: Affiliate
                    affiliates_disabled: []
                pagination:
                  per_page: 100
                  total_count: 183
                  page: 1
                  next_page: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request GET \
              --url 'https://api-demo.affise.com/3.0/admin/advertisers?limit=100&order=id&orderType=asc&with_offers=1&id[0]=string&id[1]=string2&tags[0]=string&tags[1]=string2' \
              --header 'api-key: <api-key>'
  /3.0/admin/advertiser:
    post:
      tags:
        - admin-advertisers
      summary: Add advertiser
      description: |
        `POST /3.0/admin/advertiser`

        Add new advertiser
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Company name
                contact:
                  type: string
                  description: Contact person name
                skype:
                  type: string
                  description: IM/Skype
                manager:
                  type: string
                  description: Manager ID
                url:
                  type: string
                  description: Site Url
                email:
                  type: string
                  description: Email
                password:
                  type: string
                  description: 'Password: 8 or up to 30 characters with at least one uppercase, at least one lowercase, at least one numeric digit, at least one of the allowed special characters listed: _-!@*.$%?&#/|\~<>^{}[]():;'
                allowed_ip:
                  type: string
                  description: |-
                    Allowed IP. Example: 127.0.0.1
                    127.0.1.1-127.0.2.1
                address_1:
                  type: string
                  description: Main address string
                address_2:
                  type: string
                  description: Additional address
                city:
                  type: string
                  description: City name
                country:
                  type: string
                  description: Country ISO name
                zip_code:
                  type: string
                  description: Zip code
                vat_code:
                  type: string
                  description: Vat code
                sub_account_1:
                  type: string
                  description: Allowed sub1 values (only letters(a-z), numbers(0-9) and these symbols ,._-{}+=/:~)
                sub_account_2:
                  type: string
                  description: Allowed sub2 values (only letters(a-z), numbers(0-9) and these symbols ,._-{}+=/:~)
                sub_account_1_except:
                  type: integer
                  description: Block sub1 values
                  enum:
                    - 0
                    - 1
                  default: 0
                sub_account_2_except:
                  type: integer
                  description: Block sub2 values
                  enum:
                    - 0
                    - 1
                  default: 0
                consider_personal_targeting_only:
                  type: string
                  enum:
                    - 'true'
                    - 'false'
                tags:
                  type: array
                  items:
                    type: string
                  description: An array of advertiser's tags
                hash_password:
                  type: string
                  description: Secure postback code
                skad_network_id:
                  type: array
                  description: SkadNetwork ID. For multiple IDs, use `skad_network_id[1]`, `skad_network_id[2]`, etc. (All the IDs will be overwritten by new ones)
                  items:
                    type: string
                  example:
                    '0': string
                disabled_choice_postback_status:
                  type: boolean
                  description: 'Forbid the affiliates from changing the postback status (for all the offers of this advertiser): true or false'
                affiliates_enabled:
                  type: array
                  items:
                    type: integer
                  description: An array of Affiliate IDs
                affiliates_disabled:
                  type: array
                  items:
                    type: integer
                  description: An array of Affiliate IDs
                note:
                  type: string
                  description: Note
                disallowed_ip:
                  type: string
                  description: |-
                    Disallowed IP. Example: 127.0.0.1
                    127.0.1.1-127.0.2.1
                logo:
                  type: string
                  description: Advertiser logo URL
                hide_conversion_status:
                  type: boolean
                  description: 'Hide conversion status from affiliates: true or false'
                sign_clicks_appsflyer_key:
                  type: boolean
                  description: 'Enable click signing: true or false'
                sign_clicks_integration:
                  type: string
                  enum:
                    - no_sign
                    - appsflyer
                    - kochava
                  description: Click Signature Service. Besides the listed values, an AppsFlyer multi-account ID can be passed
                status:
                  type: string
                  enum:
                    - active
                    - inactive
                    - moderation
                  description: Advertiser status
                hosts_only:
                  type: boolean
                  description: 'Count statistics by unique clicks (hosts) only: true or false. Available when the hosts-only feature is enabled'
                subaccounts_encryption:
                  type: boolean
                  description: 'Enable sub-accounts encryption: true or false. Available when the sub-accounts encryption feature is enabled'
                host_uniqueness_number_unique_clicks:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: Host uniqueness — number of unique clicks (1-100)
                host_uniqueness_time_frame:
                  type: integer
                  minimum: 1
                  maximum: 48
                  description: Host uniqueness — time frame in hours (1-48)
                custom_fields:
                  type: object
                  description: 'Custom field values keyed by custom field ID. Send as `custom_fields[1]=value`; checkbox-type fields accept multiple values: `custom_fields[2][0]=value`'
              required:
                - title
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  advertiser:
                    type: object
              example:
                status: 1
                advertiser:
                  address_1: address 1
                  address_2: address 2
                  allowed_ip: []
                  city: Lisbon
                  consider_personal_targeting_only: true
                  contact: John Doe
                  country: PT
                  created_at: '2023-04-17 11:32:06'
                  updated_at: '2023-04-17 11:32:06'
                  disallowed_ip: []
                  email: adv-test6@gmail.com
                  hash_password: null
                  hide_conversion_status: false
                  hosts_only: false
                  id: 643cf5f6b49e5edafb231b40
                  manager: 5cd55442d596c1c7008b4567
                  manager_obj:
                    api_key: c40469ac42533296ac6c638f392b2ece
                    avatar: null
                    created_at: '2023-04-20 17:21:40'
                    email: new-user@gmail.com
                    facebook: facebook
                    first_name: John
                    id: 64413c649b70ab801d9b9a71
                    last_login_at: null
                    last_name: Doe
                    roles:
                      - ROLE_ADMIN
                    skype: skype
                    telegram: telegram
                    type: common_manager
                    updated_at: '2023-04-20 17:21:40'
                    username: 64413c649b70ab801d9b9a71
                    viber: viber
                    wechat: wechat
                    whatsapp: whatsapp
                    work_hours: null
                  note: null
                  sign_clicks_integration: no_sign
                  skad_network_id: []
                  skype: '456345345'
                  sub_accounts:
                    '1':
                      except: false
                      value: null
                    '2':
                      except: false
                      value: null
                  tags:
                    - mobile
                  title: Market Inc
                  url: http://example.com
                  vat_code: null
                  zip_code: null
                  disabled_choice_postback_status: true
                  affiliates_enabled:
                    - 1
                    - 2
                  affiliates_disabled:
                    - 3
                    - 4
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser' \
              --header 'api-key: <api-key>' \
              --form 'title=string' \
              --form 'contact=string' \
              --form 'skype=string' \
              --form 'manager=string' \
              --form 'url=string' \
              --form 'email=string' \
              --form 'password=string' \
              --form 'allowed_ip=string' \
              --form 'address_1=string' \
              --form 'address_2=string' \
              --form 'city=string' \
              --form 'country=string' \
              --form 'zip_code=string' \
              --form 'vat_code=string' \
              --form 'sub_account_1=string' \
              --form 'sub_account_2=string' \
              --form 'sub_account_1_except=0' \
              --form 'sub_account_2_except=0' \
              --form 'consider_personal_targeting_only=true' \
              --form 'tags[0]=string' \
              --form 'tags[1]=string2' \
              --form 'hash_password=string' \
              --form 'skad_network_id[0]=string' \
              --form 'disabled_choice_postback_status=false' \
              --form 'affiliates_enabled[0]=0' \
              --form 'affiliates_enabled[1]=1' \
              --form 'affiliates_disabled[0]=0' \
              --form 'affiliates_disabled[1]=1' \
              --form 'note=string' \
              --form 'disallowed_ip=string' \
              --form 'logo=string' \
              --form 'hide_conversion_status=false' \
              --form 'sign_clicks_appsflyer_key=false' \
              --form 'sign_clicks_integration=no_sign' \
              --form 'status=active' \
              --form 'hosts_only=false' \
              --form 'subaccounts_encryption=false' \
              --form 'host_uniqueness_number_unique_clicks=0' \
              --form 'host_uniqueness_time_frame=0'
  /3.0/admin/advertiser/{id}/sendpass:
    post:
      tags:
        - admin-advertisers
      summary: Send password to advertiser
      description: |
        `POST /3.0/admin/advertiser/{id}/sendpass`

        Change an advertiser password and send it by email
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Advertiser ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: 'Custom password to set and send instead of an auto-generated one. 8 or up to 30 characters with at least one uppercase, at least one lowercase, at least one numeric digit, at least one of the allowed special characters listed: _-!@*.$%?&#/|\~<>^{}[]():;'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Email send successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser/{id}/sendpass' \
              --header 'api-key: <api-key>' \
              --form 'password=string'
  /3.0/admin/advertiser/enable-affiliate:
    post:
      tags:
        - admin-advertisers
      summary: Advertisers enable affiliate
      description: |
        `POST /3.0/admin/advertiser/enable-affiliate`

        Un-put affiliate from blacklist for specified advertisers
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                advertisers_id:
                  type: array
                  items:
                    type: string
                  description: Advertiser ID array
                  example:
                    '0': string
                pid:
                  type: integer
                  description: affiliate ID
              required:
                - advertisers_id
                - pid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: 'Request is successfully: Partner #610 doesn''t exist in blacklist for advertiser 56fce8ab3b7d9b95588b4568'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser/enable-affiliate' \
              --header 'api-key: <api-key>' \
              --form 'advertisers_id[0]=string' \
              --form 'pid=0'
  /3.0/admin/advertiser/disable-affiliate:
    post:
      tags:
        - admin-advertisers
      summary: Advertisers disable affiliate
      description: |
        `POST /3.0/admin/advertiser/disable-affiliate`

        Put affiliate to blacklist for specified advertisers
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                advertisers_id:
                  type: array
                  items:
                    type: string
                  description: Advertiser ID array
                  example:
                    '0': string
                pid:
                  type: integer
                  description: affiliate ID
              required:
                - advertisers_id
                - pid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Request is successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/advertiser/disable-affiliate' \
              --header 'api-key: <api-key>' \
              --form 'advertisers_id[0]=string' \
              --form 'pid=0'
  /3.0/admin/partners:
    get:
      tags:
        - admin-affiliates
      summary: Affiliate list
      description: |
        `GET /3.0/admin/partners`

        Get list of partners
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: id
          in: query
          description: Search by affiliate IDs
          schema:
            type: array
            items:
              type: integer
            example:
              id[0]: 2
        - name: with_balance
          in: query
          description: Show partners with balance
          schema:
            type: integer
            enum:
              - 1
        - name: limit
          in: query
          description: Limit of entities (max 500)
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: page
          in: query
          description: Page of entities
          schema:
            type: integer
        - name: updated_at
          in: query
          description: Get partners that have been updated from this date (format YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum:
              - active
              - banned
              - on moderation
              - not active
        - name: search
          in: query
          description: Search by affiliate email, login or name
          schema:
            type: string
        - name: manager
          in: query
          description: Filter by manager IDs
          schema:
            type: array
            items:
              type: string
            example:
              manager[0]: 5cd5fcced596c1280b3b6477
        - name: field
          in: query
          description: Filter by custom field values
          schema:
            type: array
            items:
              type: string
            example:
              field[0]: skype_name
        - name: order
          in: query
          description: Sort by field. Prefix the value with "-" for descending order
          schema:
            type: string
            enum:
              - id
              - '-id'
              - _id
              - '-_id'
              - created_at
              - '-created_at'
              - updated_at
              - '-updated_at'
        - name: orderType
          in: query
          description: Sorting order for the "order" field
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  partners:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        email:
                          type: string
                        login:
                          type: string
                        contactPerson:
                          type: string
                        ref_percent:
                          type: string
                        name:
                          type: string
                        notes:
                          type: string
                        manager:
                          type: object
                        status:
                          type: string
                        payment_systems:
                          type: array
                          items:
                            type: object
                        customFields:
                          type: array
                          items:
                            type: object
                        balance:
                          type: object
                        offersCount:
                          type: integer
                        api_key:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        lang:
                          type: string
                  pagination:
                    type: object
                    properties:
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                      page:
                        type: integer
                      next_page:
                        type: integer
              example:
                status: 1
                partners:
                  - id: 5
                    created_at: '2019-07-16 16:55:45'
                    updated_at: '2019-07-16 16:55:45'
                    email: login@gmail.com
                    login: treva.jones
                    ref_percent: '2'
                    name: null
                    notes: note
                    status: active
                    payment_systems:
                      - id: 10895
                        active: 0
                        system: Webmoney WMR
                        fields:
                          '1': ...
                    customFields:
                      - name: Skype
                        value: '1'
                        label: '1'
                        id: 1
                      - name: ....
                        value: '2'
                        label: '2'
                        id: 2
                      - name: ...
                        value: '3'
                        label: '3'
                        id: 3
                      - name: ...
                        value: '9'
                        label: '9'
                        id: 15
                    balance:
                      CNY:
                        balance: 0
                        hold: 0
                        available: 0
                      USD:
                        balance: 0
                        hold: 0
                        available: 0
                      EUR:
                        balance: 0
                        hold: 0
                        available: 0
                      BTC:
                        balance: 0
                        hold: 0
                        available: 0
                    offersCount: 0
                    api_key: eff64a90010faabc92f845a7969a618986478993
                    address_1: null
                    address_2: null
                    city: null
                    country: null
                    zip_code: null
                    phone: null
                    ref: '2'
                    lang: es
                    sub_accounts:
                      '1':
                        value: sub1
                        except: 0
                      '2':
                        value: sub2
                        except: 1
                    contactPerson: null
                pagination:
                  per_page: 1
                  total_count: 9253
                  page: 1
                  next_page: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request GET \
              --url 'https://api-demo.affise.com/3.0/admin/partners?id[0]=2&with_balance=1&limit=50&status=active&manager[0]=5cd5fcced596c1280b3b6477&field[0]=skype_name&order=id&orderType=asc' \
              --header 'api-key: <api-key>'
  /3.0/admin/partner:
    post:
      tags:
        - admin-affiliates
      summary: New affiliate
      description: |
        `POST /3.0/admin/partner`

        Add new partner
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Partners e-mail
                password:
                  type: string
                  description: Partners password
                country:
                  type: string
                  description: Country ISO name
                login:
                  type: string
                  description: Company name
                contact_person:
                  type: string
                  description: Contact person
                ref_percent:
                  type: string
                  description: Percentage of referral program
                notes:
                  type: string
                  description: Notes
                status:
                  type: string
                  enum:
                    - not active
                    - active
                    - banned
                    - on moderation
                  description: Partners status
                manager_id:
                  type: string
                  description: Manager id
                payment_systems:
                  type: array
                  items:
                    type: object
                    properties:
                      system_id:
                        type: integer
                        description: Integer ID of partners systems
                      currency:
                        type: string
                        description: String the currency code
                      fields:
                        type: object
                        description: Advanced fields where key is ID from /3.0/admin/payment_systems
                        additionalProperties:
                          type: string
                  description: Array[object] - An array of payments (See PaymentSystems structure and /3.0/admin/payment_systems endpoint). Use form-encoded parameters below for actual implementation.
                custom_fields:
                  type: array
                  items:
                    type: string
                  example:
                    '0': field1
                  description: An array of custom fields
                ref:
                  type: integer
                  description: Referral partner
                sub_account_1:
                  type: string
                  description: Sub1 list, separated by commas
                sub_account_2:
                  type: string
                  description: Sub2 list, separated by commas
                sub_account_1_except:
                  type: integer
                  enum:
                    - 0
                    - 1
                  default: 0
                  description: Except Sub1 list
                sub_account_2_except:
                  type: integer
                  enum:
                    - 0
                    - 1
                  default: 0
                  description: Except Sub2 list
                notify:
                  type: integer
                  enum:
                    - 0
                    - 1
                  default: 0
                  description: Send welcome email to affiliate (login field should be set)
                tipalti_payee_id:
                  type: integer
                  description: Tipalti Payee ID
                tags:
                  type: array
                  items:
                    type: string
                  description: An array of affiliates' tags
                  example:
                    '0': tag1
                    '1': tag2
                enabledOffers:
                  type: array
                  items:
                    type: integer
                  description: An array of offer IDs
                disabledOffers:
                  type: array
                  items:
                    type: integer
                  description: An array of offer IDs
                enabledAdvertisers:
                  type: array
                  items:
                    type: string
                  description: An array of advertiser IDs
                disabledAdvertisers:
                  type: array
                  items:
                    type: string
                  description: An array of advertiser IDs
                enabledSmartlinks:
                  type: array
                  items:
                    type: string
                  description: An array of smartlink IDs
                disabledSmartlinks:
                  type: array
                  items:
                    type: string
                  description: An array of smartlink IDs
                level:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                  description: Affiliate level
                default_postback:
                  type: string
                  description: Default postback URL. Available when postback autofill is enabled on the network
                affiliate_trafficback_url:
                  type: string
                  description: Affiliate trafficback URL. Available when the affiliate trafficback URL feature is enabled on the network
                subaccount_id:
                  type: integer
                  description: Sub-account ID
              required:
                - email
                - password
                - country
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  partner:
                    type: object
                  id:
                    type: integer
              example:
                status: 1
                partner:
                  id: 5
                  created_at: '2019-07-16 16:55:45'
                  updated_at: '2019-07-16 16:55:45'
                  email: login@gmail.com
                  login: treva.jones
                  ref_percent: '2'
                  name: null
                  notes: note
                  status: active
                  manager:
                    api_key: d6659d76dcce6857a118e2e9890518be
                    avatar: null
                    created_at: '2023-04-20 18:20:29'
                    email: new-user@gmail.com
                    facebook: facebook
                    first_name: John
                    id: 64414a2d9b70ab801d9b9a72
                    last_login_at: null
                    last_name: Doe
                    roles:
                      - ROLE_MANAGER_AFFILIATE
                    skype: skype
                    telegram: telegram
                    type: affiliate_manager
                    updated_at: '2023-04-20 18:20:29'
                    username: 64414a2d9b70ab801d9b9a72
                    viber: viber
                    wechat: wechat
                    whatsapp: whatsapp
                    work_hours: null
                  payment_systems:
                    - id: 10895
                      active: 0
                      system: Webmoney WMR
                      fields:
                        '1': ...
                  customFields:
                    - name: Skype
                      value: '1'
                      label: '1'
                      id: 1
                    - name: ....
                      value: '2'
                      label: '2'
                      id: 2
                    - name: ...
                      value: '3'
                      label: '3'
                      id: 3
                    - name: ...
                      value: '9'
                      label: '9'
                      id: 15
                  balance:
                    CNY:
                      balance: 0
                      hold: 0
                      available: 0
                    USD:
                      balance: 0
                      hold: 0
                      available: 0
                    EUR:
                      balance: 0
                      hold: 0
                      available: 0
                    BTC:
                      balance: 0
                      hold: 0
                      available: 0
                  offersCount: 0
                  api_key: eff64a90010faabc92f845a7969a618986478993
                  address_1: null
                  address_2: null
                  city: null
                  country: null
                  zip_code: null
                  phone": null
                  ref: '2'
                  lang: es
                  sub_accounts:
                    '1':
                      value: sub1
                      except: 0
                    '2':
                      value: sub2
                      except: 1
                  contactPerson: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api-demo.affise.com/3.0/admin/partner' \
              --header 'api-key: <api-key>' \
              --form 'email=string' \
              --form 'password=string' \
              --form 'country=string' \
              --form 'login=string' \
              --form 'contact_person=string' \
              --form 'ref_percent=string' \
              --form 'notes=string' \
              --form 'status=not active' \
              --form 'manager_id=string' \
              --form 'payment_systems[0][system_id]=0' \
              --form 'payment_systems[0][currency]=string' \
              --form 'custom_fields[0]=field1' \
              --form 'ref=0' \
              --form 'sub_account_1=string' \
              --form 'sub_account_2=string' \
              --form 'sub_account_1_except=0' \
              --form 'sub_account_2_except=0' \
              --form 'notify=0' \
              --form 'tipalti_payee_id=0' \
              --form 'tags[0]=tag1' \
              --form 'tags[1]=tag2' \
              --form 'enabledOffers[0]=0' \
              --form 'enabledOffers[1]=1' \
              --form 'disabledOffers[0]=0' \
              --form 'disabledOffers[1]=1' \
              --form 'enabledAdvertisers[0]=string' \
              --form 'enabledAdvertisers[1]=string2' \
              --form 'disabledAdvertisers[0]=string' \
              --form 'disabledAdvertisers[1]=string2' \
              --form 'enabledSmartlinks[0]=string' \
              --form 'enabledSmartlinks[1]=string2' \
              --form 'disabledSmartlinks[0]=string' \
              --form 'disabledSmartlinks[1]=string2' \
              --form 'level=0' \
              --form 'default_postback=string' \
              --form 'affiliate_trafficback_url=string' \
              --form 'subaccount_id=0'
  /3.0/admin/partner/{id}:
    get:
      tags:
        - admin-affiliates
      summary: Get affiliate
      description: |
        `GET /3.0/admin/partner/{id}`

        Get affiliate by ID
      parameters:
        - name: api-key
          in: header
          description: API key
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Affiliate ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  partner:
                    type: object
                    properties:
                      id:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      email:
                        type: string
                      login:
                        type: string
                      contactPerson:
                        type: string
                      ref_percent:
                        type: string
                      name:
                        type: string
                      notes:
                        type: string
                      manager:
                        type: object
                      status:
                        type: string
                        enum:
                          - active
                          - banned
                          - on moderation
                          - not active
                      payment_systems:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            active:
                              type: integer
                            system:
                              type: string
                            fields:
                              type: object
                      customFields:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                            label:
                              type: string
                            id:
                              type: integer
                      balance:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            balance:
                              type: number
                            hold:
                              type: number
                            available:
                              type: number
                      offersCount:
                        type: integer
                      api_key:
                        type: string
                      address_1:
                        type: string
                      address_2:
                        type: string
                      city:
                        type: string
                      country:
                        type: string
                      zip_code:
                        type: string
                      phone:
                        type: string
                      work_hours:
                        type: string
                      created_by:
                        type: object
                      updated_by:
                        type: object
                      tipalti_payee_id:
                        type: string
                      ref:
                        type: string
                      sub_accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            value:
                              type: string
                            except:
                              type: integer
                      tags:
[...]
